# 作业3 空间数据库设计

姓名：

学号：

**作业目的：**了解数据库设计基本流程和设计异常，了解空间数据的获取方式，熟悉空间扩展E/R图，掌握E/R图与关系的转化，掌握关系数据库规范化设计方法，掌握数据的ETL过程（数据抽取Extract、清洗Clean、转换Transform、转载Load）。

**注意事项：**
* SQL语句的错误输出为乱码时，修改SET client_encoding = 'GBK';或SET client_encoding = 'UTF-8';，重新连接数据库
* Jupyter Notebook对SQL语句的错误提示较弱，可以先在pgAdmin 4上执行，查看详细的错误信息
* 作业3总分45分，作业考察的题目后面标了具体分数，可以相互讨论思路，作业抄袭或雷同都要扣分
* **学号.jpg和作业3\_学号\_姓名.ipynb**替换其中的学号和姓名，包含执行结果，一起压缩为__作业3\_学号\_姓名.rar/zip__，提交到学在浙大，截止日期**2021.11.14**

### 1. 空间数据应用（2分）

[Geospatial Revolution](http://geospatialrevolution.psu.edu/)是关于地理空间革命的科普视频，共5集，每集内容描述如下：
* Episode 1: covers what is involved in the geospatial revolution, the origins of mapping and geospatial technology, and a look at the use of crisis mapping in Haitian earthquake relief efforts.
* Episode 2: looks at how local governments and business use geospatial technology to deliver services and run efficiently, keeping a continuing eye on future developments and applications.
* Episode 3: explores geospatial technology in the world of security: how new technologies help to broker peace, wage war, and fight crime but can also compromise personal privacy.
* Episode 4: explores geospatial technology around the world: monitoring global climate change, preventing famine, tracking disease and mapping communities never before seen on a map.
* Episode 5: mapping the Pandemic.

观看Geospatial Revolution Episode 2，[B站链接](https://www.bilibili.com/video/av10498825/)，从中选择一个你最感兴趣的应用，请用1-2句话描述选择的应用，并给出可能需要哪些地理空间数据？（2分）

POWERING BUSINESS。系统通过每位投递员随身随带的pad以及车内搭载的传感器，远程跟踪每位投递员的状态，包括投递员的位置、车辆情况等。并且根据投递员当前的位置，系统可以随时随地派发最近的新订单，方便了调度员的分配任务。在这个过程中，需要投递员当前的地理坐标以及投递员工作期间所经过的路径等。

### 2. 空间数据库设计（25分）

美食外卖校园创业公司“吃了么”正在架构后台服务器，CTO得知你正在学习空间数据库，想聘请你作为数据库首席架构师，构建美食外卖应用软件所需的空间数据库。在和CTO沟通后，你发现公司初步选择PostgreSQL + PostGIS作为数据库服务器，并获得了以下需求：

* 每个客户(customer)拥有姓名(name)、手机号(phone)、默认配送地址(address)、当前位置(position)等信息。
* 客户可以根据餐厅的名称或当前位置搜索附近的餐厅(restaurant)，每个餐厅拥有餐厅名(name)、电话(telephone)、位置(location)、多个套餐(set meal)等信息，每个套餐拥有菜品描述(description)、价格(price)、当前是否售罄(sold out)等信息。客户在选择餐厅和套餐后，完成下单操作(place an order)。
* 餐厅每天产生多个订单，每个订单包含唯一的订单编号(order id)及其对应的订单内容，例如客户、套餐类型、套餐数量、价格、下单时间(ordering time)、配送地址、是否已完成订单(delivered)等信息，餐厅将这些订单分配(assign)给多个配送员/骑手(courier)。
* 每个骑手拥有骑手证号(licence)、姓名(name)、手机号(phone)、车辆信息(vehicle)、当前位置(position)等信息，骑手可以查看系统分配给自己的订单信息，客户可以查看自己订单的骑手位置。
* 骑手可以设置(operate)自己能够配送的区域(delivery zone)，每个区域具有唯一的区域编号(zone id)、区域边界(boundary)、道路(road segments)等信息，用于查询能否配送某个订单和配送路径，估计配送时间等。

基于上述需求分析和现实世界语义，构建空间扩展E/R图，分析每个实体中存在的完全非平凡函数依赖，并转化为数据库关系，建议使用上述英文单词作为实体/联系/属性名，至少包含上述给出的实体和属性，可以根据实际需求适当扩展，增加新的实体和属性。

#### 2.1 实体分析（9分）
基于需求分析，描述实体的属性和完全非平凡的函数依赖，指定关系的主码，说明哪些属性是空间属性，给出其最恰当的几何类型。

1. Custumer实体
属性：id, name, phone, address，position，主码是id，空间属性是position，几何类型是Point
函数依赖：
id --> name, phone, address, position

2. Restaurant实体
属性：id, name, telephone, location
主码：id
空间属性：location 几何类型：Point
函数依赖：id --> name, telephone, location

3. setmeal实体
属性：id, desc, price, soldout
主码：id
函数依赖：id --> name, desc, price, soldout

4. order实体
属性：id, time, address, delivered
主码：id
空间属性：address 几何类型：Point
函数依赖：id --> time, address, deliverd

5. courier实体
属性：id, name, phone, vehicle, position
主码：id
空间属性：position 几何类型：Point
函数依赖：id --> name, phone, vehicle, position

7. boundary实体
属性：id, name, geom
主码：id
空间属性：geom 几何类型：Polygon
函数依赖：id --> name, geom

8. road实体
属性：id, name, geom
主码：id
空间属性：geom 几何类型：LineString
函数依赖：id --> name, geom

除了题目给出的实体和属性外，上述回答中增加了哪些新的实体和属性？

1. 每个实体和关系都有id。
2. 增加了区域边界和道路实体

#### 2.2 联系分析（5分）
基于2.1的实体，分析实体之间存在哪些联系，并指定联系的类型和理由，只需包含在数据库中需要体现的联系。

1. Custumer和Order实体之间存在PlaceOrder联系，联系类型是1:N（客户可以多次下单）
2. restaurant和setmeal实体之间存在menu联系，联系类型是1:N（餐厅有多个套餐）
3. order和setmeal有chooseSet联系，联系类型是1:N（一个订单中可能有多个套餐）
4. courier和order有take联系，联系类型是1:N（骑手会接多个订单）
5. boundary和road有contain联系，联系类型是1:N（区域中会有多条道路）
6. courier和boundary有operate联系，联系类型是1:1

#### 2.3 空间扩展E/R图（3分）

空间扩展E/R图可以使用软件或手工绘图（如下图），空间属性使用实体象形图进行标注，联系需给出联系类型（1:N标注或箭头表示），截图或照片保存为学号.png，与本文件同一目录，修改下面的ER.png为你的学号.png，Shift+Enter能正确展示空间扩展E/R图（如果浏览器缓存数据，请重启Kernel查询空间扩展E/R图）。

<img src="result.jpeg">

#### 2.4 关系转换（6分）

将空间扩展E/R图转换为关系，标注几何属性的几何类型，如geom(Point)，说明关系的主码和外码，联系关系尽可能和实体关系合并，但关系都需属于BCNF。

Customer(id, name, phone, address，position(Point))：主码id，无外码
Restaurant(id, name, telephone, location(Point))：主码id，无外码
SetMeal(id, desc, soldout, rid)：主码id，外码rid
Order(id, cuid, coid, sid, time, address, delivered)：主码id，外码cuid，coid，sid
Courier(id, bid, name, phone, vehicle, position(Point))：主码id，外码bid
Boundary(id, name, geom(Polygon))：主码id，无外码
Road(id, bid, name, geom(LineString))：主码id，外码bid

#### 2.5 数据库合并（2分）

经过数据库设计的不断优化，‘吃了吗’用户不断增加，公司计划收购另一家外卖公司‘饱了吗’，需要集成两家公司的数据库。作为数据库首席架构师，你需要在收购筹备会上提出两家公司的数据库集成可能面临的挑战。请至少给出两个挑战，每个挑战需要具体举例说明。

1. 数据库异构性：例如‘吃了吗’使用对象关系数据库（关系模型）PostgreSQL存储数据，而‘饱了吗’使用半结构化数据库(文档模型)MongoDB存储数据。
2. 数据关系模式存在差异：两个数据库存储数据的关系模式不同，导致合并时需要统一存储的结构
3. 空间数据冲突：两个数据库可能使用不同的空间参考系，导致合并时需要统一

### 3. BCNF（7分）

假设关系R(A, B, C, D, E)有如下函数依赖：AB  $\rightarrow$ C, BC  $\rightarrow$ D, CD  $\rightarrow$ E, DE  $\rightarrow$ A。

3.1 关系R所有的Keys。（2分）

AB, BC, CD

3.2 将关系R分解为BCNF，描述具体的分解步骤，说明分解后关系的主码，以及是否有丢失函数依赖。（3分）

1. 将R分解为R1(A, B, C) R'(A, B, D, E)
2. 将R'分解为R2(D, E, A) R3(D, E, B)
分解后R1主码为A, B；R2主码为D, E；R3主码为D, E
丢失了函数依赖BC->D和CD->E

3.3 是否存在不同的分解？如果存在，给出不同的分解，描述具体的分解步骤，说明分解后关系的主码，以及是否有丢失函数依赖。（2分

1. 将R分解为R1(B, C, D) R'(B, C, A, E)
2. 将R'分解为R2(A, B, C) R3(A, B, E)
R1主码为B, C；R2、R3主码为A, B
丢失了函数依赖CD->E和DE->A

### 4. 数据库逆向设计（11分）
礼品店的李老板设计了一个简单的数据库，用来记录礼品店每月的销售记录。由于没有学过数据库，他设计的数据库模式为Sales(name, discount, month, price)。他将已有的数据插入到Sales关系中。在之后的运行中，李老板发现这一数据库模式不太好用。

李老板得知你正在学习数据库，想请你来帮助他解决礼品店数据管理问题，即规范化关系。他给出了之前的销售记录SaleData.txt，但不幸的是，李老板正好要出差，没法和你面对面交流，找出礼品店销售中存在的函数依赖（即无法和客户进行需求分析）。所以，你只能逆向工程，从给出的数据中寻找函数依赖。

#### 4.1 创建Sales关系，载入数据

通过pgAdmin 4在PostgreSQL中创建hw3数据库，连接hw3数据库，并创建Sales关系，通过copy语句载入数据。

In [2]:
%load_ext sql

In [3]:
%%sql postgresql://postgres:postgres@localhost:5432/hw3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET client_encoding = 'utf-8';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

Done.
Done.
Done.
Done.
Done.
Done.

[]

In [9]:
%%sql drop table if exists sales;
create table sales(
    name varchar(128),
    discount varchar(8),
    month varchar(8),
    price int
);
copy sales from '/tmp/SaleData.txt';

 * postgresql://postgres:***@localhost:5432/hw3
Done.
Done.
426 rows affected.

[]

#### 4.2 找出数据中存在的所有完全非平凡函数依赖（5分）

由于无法了解客户的需求，只能通过试错法不断尝试，从最简单的函数依赖开始，如name $\rightarrow$ discount，即当记录的name属性相同时，对应的discount属性也相同，然后再尝试复杂的函数依赖，如name, discount $\rightarrow$ month。对于每个函数依赖，写一个SQL语句进行检查，要求SQL语句尽可能简短，且能通过查询结果是否是空集，确定是否存在所查找的函数依赖（不是看数据内容，人工判断确定）。

Be Clever，结合函数依赖的规则减少需要检查的函数依赖数目，同时不能丢失任何可能的函数依赖。

构造一个SQL查询语句，检查是否存在A $\rightarrow$ B类型的完全非平凡函数依赖，其中A和B可以是Sales关系中的任何属性（从Sales关系中选择两个不同属性，使用下面SQL语句检查是否存在这一函数依赖）。

In [60]:
%%sql with ndtable as (
SELECT CASE WHEN EXISTS (
    select name, count(name) from (
        select distinct name, discount from sales
    ) as t1 group by name having count(name) > 1
) THEN 0 ELSE 1 END
), nmtable as (
SELECT CASE WHEN EXISTS (
    select name, count(name) from (
        select distinct name, month from sales
    ) as t1 group by name having count(name) > 1
) THEN 0 ELSE 1 END
), nptable as (
SELECT CASE WHEN EXISTS (
    select name, count(name) from (
        select distinct name, price from sales
    ) as t1 group by name having count(name) > 1
) THEN 0 ELSE 1 END
), dmtable as (
SELECT CASE WHEN EXISTS (
    select discount, count(discount) from (
        select distinct discount, month from sales
    ) as t1 group by discount having count(discount) > 1
) THEN 0 ELSE 1 END
), dptable as (
SELECT CASE WHEN EXISTS (
    select discount, count(discount) from (
        select distinct discount, price from sales
    ) as t1 group by discount having count(discount) > 1
) THEN 0 ELSE 1 END
), mptable as (
SELECT CASE WHEN EXISTS (
    select month, count(month) from (
        select distinct month, price from sales
    ) as t1 group by month having count(month) > 1
) THEN 0 ELSE 1 END
), dntable as (
SELECT CASE WHEN EXISTS (
    select discount, count(discount) from (
        select distinct discount, name from sales
    ) as t1 group by discount having count(discount) > 1
) THEN 0 ELSE 1 END
), mntable as (
SELECT CASE WHEN EXISTS (
    select month, count(month) from (
        select distinct month, name from sales
    ) as t1 group by month having count(month) > 1
) THEN 0 ELSE 1 END
), pntable as (
SELECT CASE WHEN EXISTS (
    select price, count(price) from (
        select distinct price, name from sales
    ) as t1 group by price having count(price) > 1
) THEN 0 ELSE 1 END
), mdtable as (
SELECT CASE WHEN EXISTS (
    select month, count(month) from (
        select distinct month, discount from sales
    ) as t1 group by month having count(month) > 1
) THEN 0 ELSE 1 END
), pdtable as (
SELECT CASE WHEN EXISTS (
    select price, count(price) from (
        select distinct price, discount from sales
    ) as t1 group by price having count(price) > 1
) THEN 0 ELSE 1 END
), pmtable as (
SELECT CASE WHEN EXISTS (
    select price, count(price) from (
        select distinct price, month from sales
    ) as t1 group by price having count(price) > 1
) THEN 0 ELSE 1 END
)

SELECT ndtable.case as nd, nmtable.case as nm, nptable.case as np,
dmtable.case as dm, dptable.case as dp, mptable.case as mp,
dntable.case as dn, mntable.case as mn, pntable.case as pn,
mdtable.case as md, pdtable.case as pd, pmtable.case as pm
from ndtable, nmtable, nptable, dmtable, dptable, mptable,
dntable, mntable, pntable, mdtable, pdtable, pmtable;

 * postgresql://postgres:***@localhost:5432/hw3
1 rows affected.

[(0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0)]

从上述查询中可以得到，存在函数依赖name -> price, month -> discount

构造一个SQL查询语句，检查是否存在A, B $\rightarrow$ C类型的完全非平凡函数依赖，其中A、B和C可以是Sales关系中的任何属性（从Sales关系中选三个不同属性，使用下面SQL语句检查是否存在这一函数依赖）。

In [86]:
%%sql with dpn as (
    SELECT CASE WHEN EXISTS(
        SELECT count(name) from (
            SELECT discount, price, name FROM sales
        ) as t GROUP BY discount, price HAVING count(name) > 1
    ) THEN 0 ELSE 1 END
), mpn as (
    SELECT CASE WHEN EXISTS(
        SELECT count(name) from (
            SELECT month, price, name FROM sales
        ) as t GROUP BY month, price HAVING count(name) > 1
    ) THEN 0 ELSE 1 END
), ndm as (
    SELECT CASE WHEN EXISTS(
        SELECT count(month) from (
            SELECT name, discount, month FROM sales
        ) as t GROUP BY name, discount HAVING count(month) > 1
    ) THEN 0 ELSE 1 END
), dpm as (
    SELECT CASE WHEN EXISTS(
        SELECT count(month) from (
            SELECT discount, price, month FROM sales
        ) as t GROUP BY discount, price HAVING count(month) > 1
    ) THEN 0 ELSE 1 END
)
SELECT dpn.case as dpn, mpn.case as mpn, ndm.case as ndm, dpm.case as dpm
FROM dpn, mpn, ndm, dpm;

 * postgresql://postgres:***@localhost:5432/hw3
1 rows affected.

[(0, 0, 0, 0)]

根据上述两次查询可知，存在函数依赖
name, month -> discount
month, price -> discount
name, discount -> price
name, month -> price

通过上述过程的查找，给出Sales关系中存在的最小**完全非平凡**函数依赖集合，即a minimal set of completely nontrivial FDs such that all FDs that hold on the relation follow from the dependencies in the set，不在该集合中的函数依赖，都可以通过集合中的函数依赖根据规则推导获得。单属性之间的判断可以逐个写SQL语句判断，也可以用修改以下Python代码自动判断所有单属性依赖。

In [5]:
colums = ['name', 'price', 'month', 'discount']
template = 'select %s, %s from sales except select %s, max(%s) from sales group by %s ' 
# 使用%s作为占位符，类似于C语言的%s

for A in colums:
    for B in colums:
        query = template % (A, B, A, B, A)
        result = %sql $query
        if A != B and len(result) == 0:
            print(A + '->' + B)

 * postgresql://postgres:***@localhost:5432/hw3
0 rows affected.
 * postgresql://postgres:***@localhost:5432/hw3
0 rows affected.
name->price
 * postgresql://postgres:***@localhost:5432/hw3
390 rows affected.
 * postgresql://postgres:***@localhost:5432/hw3
72 rows affected.
 * postgresql://postgres:***@localhost:5432/hw3
27 rows affected.
 * postgresql://postgres:***@localhost:5432/hw3
0 rows affected.
 * postgresql://postgres:***@localhost:5432/hw3
99 rows affected.
 * postgresql://postgres:***@localhost:5432/hw3
18 rows affected.
 * postgresql://postgres:***@localhost:5432/hw3
414 rows affected.
 * postgresql://postgres:***@localhost:5432/hw3
96 rows affected.
 * postgresql://postgres:***@localhost:5432/hw3
0 rows affected.
 * postgresql://postgres:***@localhost:5432/hw3
0 rows affected.
month->discount
 * postgresql://postgres:***@localhost:5432/hw3
105 rows affected.
 * postgresql://postgres:***@localhost:5432/hw3
24 rows affected.
 * postgresql://postgres:***@localhost:5432/hw3
9 rows affected.
 * postgresql://postgres:***@localhost:5432/hw3
0 rows affected.

最小完全非平凡函数依赖集合：name -> price, month -> discount

对于Sales关系，获得上述最小完全非平凡函数依赖集合至少需要多少次SQL查询？三个属性之间的函数依赖(A, B $\rightarrow$ C)可以利用两个属性之间的函数依赖(A $\rightarrow$ B)集合减少SQL查询次数。

>至少需要12 + 4共16次查询。两个属性之间的依赖无法减少因此需要$C_4^2=12$次查询。由于查询结果表示有两个依赖，因此可以减少8个查询，最终三个属性之间的函数依赖只需要验证4次。

#### 4.3 异常分析（2分）

基于发现的函数依赖，分析Sales关系设计存在哪些设计异常，并给出具体理由？

1. 数据冗余：price和discount会重复出现
2. 更新异常：更新码的值时，该码对应的所有行都会更新
3. 插入异常：当数据库没有任何数据时，无法存储商品的相关信息
4. 删除异常：与插入异常相对应，当数据库数据清空时，商品相关信息会全部消失

#### 4.4 BCNF分解（2分）

基于发现的函数依赖，使用BCNF分解算法，将Sales表分解为满足BCNF的关系，描述具体的分解步骤，说明分解后关系的主码，以及是否有丢失函数依赖。

令FD1: name->price, FD2: month->discount
取FD1进行分解，获得R1(name, price) R'(name, month, discount)
取FD2进行分解，获得R2(month, discount) R3(name, month)
其中R1主码为name，R2主码为month，R3主码为name和month
函数依赖FD1, FD2都没有丢失

#### 4.5 数据ETL（2分）

创建分解后的关系，指定主码和外码，将Sales表中的数据，通过SQL插入和查询语句导入到分解后的关系中。

In [23]:
%%sql DROP TABLE IF EXISTS product, strategy, time;
CREATE TABLE product(
    name varchar(128) primary key,
    price int
);
CREATE TABLE strategy(
    month varchar(8) primary key,
    discount varchar(8)
);
CREATE TABLE time(
    id serial primary key,
    name varchar(128) REFERENCES product(name),
    month varchar(8) REFERENCES strategy(month)
);
INSERT INTO product SELECT DISTINCT name, price FROM sales;
INSERT INTO strategy SELECT DISTINCT month, discount FROM sales;
INSERT INTO time(name, month) SELECT DISTINCT name, month FROM sales;

 * postgresql://postgres:***@localhost:5432/hw3
Done.
Done.
Done.
Done.
36 rows affected.
12 rows affected.
426 rows affected.

[]

通过compare_result检查BCNF分解是否是join lossless？

In [28]:
from relation_algebra import BaseRelation, compare_results
X = %sql select t.name, discount, t.month, price from strategy join (select time.name, time.month, product.price from product join time on time.name=product.name) as t on strategy.month=t.month
x = BaseRelation(X)

Y = %sql select * from Sales
y = BaseRelation(Y)

print(compare_results(x, y))

 * postgresql://postgres:***@localhost:5432/hw3
426 rows affected.
 * postgresql://postgres:***@localhost:5432/hw3
426 rows affected.
True

关系数据库设计的常见分析流程如下：
* 列出你设计的所有关系，为每个关系指定主码。<br/>
* 列出你设计的关系中的所有完全非平凡函数依赖，也可以回答“没有”。<br/>
* 你设计的关系是否属于Boyce-Codd Normal Form (BCNF)范式？如果不是，请重新设计，或者解释为什么采用非BCNF较好。<br/>
* 列出你设计的关系中的所有非平凡多值依赖，也可以回答“没有”。<br/>
* 你设计的关系是否属于第4范式？如果不是，请重新设计，或者解释为什么采用非4-NF较好。

### 作业感想

收获:-)，疑惑:-|，吐槽:-(，...，你的反馈很重要

在这次作业中，我主要尝试了从一个函数依赖未知的表中获得表的最小完全非平凡依赖。在这个过程中，我尝试了多种方式，例如利用sql的case语句，判断属性之间是否有函数依赖，以及使用except关键词通过结果是否为空判断是否存在函数依赖。从多种方式的实现中，我也学习到了不同的判断思路。