# 作业4 空间查询处理和优化

姓名：

学号：

**作业目的：**理解(空间)查询处理与优化流程，掌握关系代数优化和基于代价的查询规划，掌握空间填充曲线在常用空间查询下的代价，掌握PostgreSQL的查询规划和GiST索引创建与使用，理解索引在基于代价的查询规划中的作用。

**注意事项：**
* SQL语句的错误输出为乱码时，修改SET client_encoding = 'GBK';或SET client_encoding = 'UTF-8';，重新连接数据库
* Jupyter Notebook对SQL语句的错误提示较弱，可以先在pgAdmin 4上执行，查看详细的错误信息
* 作业4总分55分，作业考察的题目后面标了具体分数，可以相互讨论思路，作业抄袭或雷同都要扣分
* **作业4\_学号\_姓名.ipynb**替换其中的学号和姓名，包含执行结果，压缩为__作业4\_学号\_姓名.rar/zip__，**不要包含数据文件**，提交到学在浙大，作业4截止日期**2021.11.28**

### 1. 空间计算（2分）

2016年Communications of The ACM上发表了一篇[Spatial Computing](http://www.cad.zju.edu.cn/home/ybtao/sdb/resources/CACM2016.pdf)论文，中文翻译[空间计算](http://www.cad.zju.edu.cn/home/ybtao/sdb/resources/CCCF2016.pdf)，其主要观点如下：
* Starting with the public availability of GPS, spatial computing has enriched our lives through location-based services (such as Google Maps, Uber, geotagging, and geotargeted, including Amber, alerts).
* It has also advanced computer science through ideas like spatial databases (such as R-tree and OGIS simple features library), spatial statistics (such as point process theory and Kriging), and spatial data mining (such as robust hotspot detection).
* Future potentially transformative opportunities include ubiquitous indoor location-based services, the location-aware Internet of Physical Things, continuous global monitoring, visualization, forecast, alerts, and warnings to address societal challenges like climate change and how to provide adequate food, energy, and water.

阅读该论文，根据文中内容回答以下问题。

1.1 空间数据库的哪些方面在已有的空间计算中发挥了重要作用？（1分）

空间数据库通过引入了空间数据的格式，得以存储空间坐标等一系列空间数据。在全球定位系统、遥感技术等具体应用中，都存在海量的空间数据，空间数据库在其中起到了存储数据的作用。

1.2 从近期和长远来看，空间计算将如何促进空间数据库和空间统计的发展？（1分）

随着空间计算的进一步发展，例如自动驾驶等需要高精传感的应用场景，就会产生海量的数据，此时空间数据库将会需要更快地收集并处理比当前更多的数据。同时，对于室内导航等场景，当前的研究处于快速发展的阶段，在收集室内场景信息的时候也会
包括大量的空间数据。对于室内空间信息的处理，需要空间数据库的参与。

### 2. 代价估计与索引（16分）

健身俱乐部设计了如下数据库，用来记录俱乐部会员：<br/>
&ensp;&ensp;&ensp; Gym (<u>gid</u>, name, city)<br/>
&ensp;&ensp;&ensp; Member (<u>mid</u>, name, is_student, birthdate, city)<br/>
&ensp;&ensp;&ensp; Visits (<u>timestamp</u>, <u>mid</u> References Member, gid References Gym)<br/>

Member和Visits在数据库中的统计信息如下：<br/>
T(Member) = 500, B(Member) = 100, V(Member, city) = 10, V(Member, is_student) = 2<br/>
T(Visits) = 5000, B(Visits) = 400, V(Visits, mid) = 500<br/>
其中T表示关系的记录数目，B表示关系的磁盘页或data block数目，V表示属性不同取值的个数。

2.1 对于查询<br/>
&ensp;&ensp;&ensp; Select name <br/>
&ensp;&ensp;&ensp; From Member <br/>
&ensp;&ensp;&ensp; Where city = '杭州' and is_student = True;<br/>
基于下列条件估计磁盘I/O cost，即data block的读取数量。对于$\sigma_{a=?}(R)$查询，返回的记录数目为T(R) * 1 / V(R,a) (5分)

2.1.1 没有索引

Cost = 10100

2.1.2 Member的city属性上有非聚集索引

Cost = 100+100*(500/10) = 5100

2.1.3 Member的city属性上有聚集索引

Cost = 100+100*(100/10) = 1100

2.1.4 Member的is_student属性上有非聚集索引

Cost = 100+100*(500/2) = 25100

2.1.5 Member的(city, is_student)属性上有非聚集索引

Cost = 500/(10*2) = 25

2.2 对于查询<br/>
&ensp;&ensp;&ensp; Select name, count(\*) <br/>
&ensp;&ensp;&ensp; From Member M, Visits V <br/>
&ensp;&ensp;&ensp; Where M.mid = V.mid and city = '杭州' and is_student = True <br/>
&ensp;&ensp;&ensp; Group By name;<br/>
考虑查询中的Join部分，可以使用nested loop, merge join, hash join等算法。对于$R\Join S$查询，一般假设内存只能存储3个数据块，一个关系R的数据块，一个关系S的数据块，一个结果数据块，nested loop的I/O cost为B(R) + B(R) \* B(S)或B(S) + B(S) \* B(R)。没有临时表存储到磁盘（即在一个building block之后的结果，不会临时存储到磁盘中，而是假设查询结果仍然在内存中，比如join之后的select，join的结果不会存储到磁盘中，然后再次读取数据块进行select，而是假设join的结果在内存中，select的I/O cost为0），基于以下等价的关系代数查询树，估计磁盘I/O cost。(5分)
<img src = "querytree.png"/>

2.2.1 基于左边查询树(先Join后Select)，没有索引，使用nested loop的最小I/O cost

Cost = 100+100*400 = 40100

2.2.2 基于左边查询树(先Join后Select)，Visits的mid属性上有非聚集索引，使用nested loop with index的最小I/O cost

Cost = 100+100*5000/500 = 1100

2.2.3 基于左边查询树(先Join后Select)，Visits的mid属性上有聚集索引，使用nested loop with index的最小I/O cost

Cost = 100+100*400/500 = 180

2.2.4 基于右边查询树(先Select后Join)，Member的(city,is_student)属性上有非聚集索引，使用nested loop的的I/O cost

Cost = 500/(10*2)*100+100 = 2600

2.2.5 基于右边查询树(先Select后Join)，Member的(city,is_student)属性上有非聚集索引，Visits的mid属性上有非聚集索引，使用nested loop的的I/O cost

Cost = 100/(10*2)+100/(10*2)*5000/500 = 55

2.3 你构建了索引选择工具来度量某个索引对常用查询的性能提升(越高越好)。索引1(city, is_student)带来的性能提升是10，索引2(city, is_student, birthday)带来的性能提升是12，索引3(city, birthday)带来的性能提升是7。假设你只能保留2个索引，你会选择哪两个索引，理由是什么？(2分)

我选择索引1和索引3，因为is_student和birthday单独查询的频率较高，因此保留两个单独的索引效率更高。

2.4 健身俱乐部发现会员签到非常慢，邀请你来优化他们的数据库。在分析数据库后，你发现属性上创建了很多索引，包括Visits上的mid聚集索引。为什么mid聚集索引会使用户签到变慢，即插入一个新的Visit变慢？你需要什么信息来决定保留哪些索引和删除哪些索引？(2分)

用户签到时，Visits表上会创建一个新的数据，此时索引将会更新，由于聚集索引要求索引中相邻的记录应当在数据上相近，导致更新花费的时间更长。为了对索引的保留和删除做出决策，应当收集数据库不同属性的更新频率，对更新频率较少的对应索引进行保留，对更新频率较高的索引进行删除。

2.5 你和你的朋友同时到达杭州紫金港健身俱乐部，一起签到打卡时，发生了如下错误：

    Error: Duplicate entry '1586224200' for key 'pk_visits'
    
你觉得DBA在创建关系时做错了什么，导致了这个错误？如何进行修正这个错误？(2分)

timestamp作为主码被设置为了不能重复，因此应当设置一个自增的id来作为主码。

### 3. 空间填充曲线 (11分)

15个点存储在空间数据库中，如下图标识的A-O点，假设每个数据页最多存储两个数据点，Point Query和Nearest Neighbor Query为红色查询点，Range Query为黑色查询框。
<img src = "curve.png"/>

3.1 假设这些点使用heap file存储，即乱序存储，以下查询需要访问多少数据页？(3分)

Point Query: 8
Range Query: 8
Nearest Neighbor Query: 8

3.2 构建4x4的Hilbert Curve，数据点按照Hilbert value的顺序存储，使用()表示一个数据页，给出数据点在数据库中的存储顺序。(2分)

(A,B)(E,D)(I,L)(M,J)(N,O)(K,H)(F,G)(C)

3.3 基于Hilbert Curve存储的数据点，以下查询需要访问最少多少数据页？假设内存足够大，不需要重复读取数据页，未使用B+Tree对Hilbert Value构建索引，使用ceil函数取整。(6分)

Point Query: 3
具体步骤：(N,O)->(I,L)->(M,J)

Range Query: 7
具体步骤：(N,O)->(I,L)->(M,J)->(N,O)->(K,H)->(F,G)->(C)

Nearest Neighbor Query: 3
具体步骤：(N,O)->(I,L)->(M,J)

### 4. 关系代数表达式优化（6分）

通过pgAdmin 4在PostgreSQL数据库中创建hw4数据库，增加postgis扩展，并连接该数据库

In [1]:
%load_ext sql
import time
import random

# To help render markdown
from IPython.core.display import display, HTML
from markdown import markdown
def render_markdown_raw(m): return display(HTML(markdown(m))) # must be last element of cell.
def render_markdown(m): return render_markdown_raw(m.toMD())
def cost_markdown(q): 
    q.reset_count()
    get_result(q) # run the counters
    return display(HTML(markdown("Total Reads: {0}\n\n".format(q.total_count()) + q.toCount(0))))

# import the relational algbera operators
from relation_algebra import Select, Project, Union, NJoin, CrossProduct, BaseRelation
from relation_algebra import get_result, compare_results

In [2]:
%%sql postgresql://postgres:postgres@localhost:5432/hw4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET client_encoding = 'utf-8';
SET standard_conforming_strings = on;
SET check_function_bodies = false;

Done.
Done.
Done.
Done.
Done.

[]

关系代数表达式优化参考练习7。创建表R, S, T，并插入数据

In [3]:
%%sql
drop table if exists R; create table R(a int, b int);
drop table if exists S; create table S(b int, c int);
drop table if exists T; create table T(c int, d int);

 * postgresql://postgres:***@localhost:5432/hw4
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [4]:
v1 = "";
v2 = "";
for b in range(0,10,1):
    for a in range(0,20,2):
        t1 = " (%d, %d)," % (a, b)
        t2 = " (%d, %d)," % (b, a)
        v1 = v1 + t1
        v2 = v2 + t2
r = "insert into R values" + v1[:-1] + ";"
s = "insert into S values" + v2[:-1] + ";"
t = "insert into T values" + v2[:-1] + ";"
%sql delete from R; $r
%sql delete from S; $s
%sql delete from T; $t

 * postgresql://postgres:***@localhost:5432/hw4
0 rows affected.
100 rows affected.
 * postgresql://postgres:***@localhost:5432/hw4
0 rows affected.
100 rows affected.
 * postgresql://postgres:***@localhost:5432/hw4
0 rows affected.
100 rows affected.

[]

回顾关系代数表达式基本形式

In [5]:
r = %sql SELECT * FROM R;
R = BaseRelation(r, name="R")
s = %sql SELECT * FROM S;
S = BaseRelation(s, name="S")
t = %sql SELECT * FROM T;
T = BaseRelation(t, name="T")

x = Project(["b"], NJoin(R,S))
render_markdown(x)
print(get_result(x))

 * postgresql://postgres:***@localhost:5432/hw4
100 rows affected.
 * postgresql://postgres:***@localhost:5432/hw4
100 rows affected.
 * postgresql://postgres:***@localhost:5432/hw4
100 rows affected.

[(6,), (2,), (5,), (8,), (4,), (1,), (7,), (0,), (3,), (9,)]

熟悉cost_markdown函数

In [6]:
cost_markdown(x)

在关系数据库系统中，cost主要是I/O cost，即数据页或数据块读取次数(**注意和空间数据库系统的差异**)。在计算cost时，做了以下假设：1. 存储系统没有cache，无论是buffer management还是磁盘上的cache；2. 自然连接实现方式，是基于什么算法？通过构造等价的关系代数表达式，优化以下查询。
#### 4.1

In [7]:
x = Select("a", 2, Project(["a","c"], NJoin(R,S)))
render_markdown(x)
print(get_result(x))
cost_markdown(x)

[(2, 2), (2, 4), (2, 6), (2, 8), (2, 10), (2, 12), (2, 14), (2, 16), (2, 0), (2, 18)]

In [8]:
y = Project(["a","c"], NJoin(Select("a", 2, R), S))
render_markdown(y)
print(get_result(y))
print(compare_results(x,y))
cost_markdown(y)

[(2, 14), (2, 4), (2, 10), (2, 16), (2, 0), (2, 6), (2, 12), (2, 18), (2, 2), (2, 8)]
True

#### 4.2（2分）

In [9]:
x = Select("c", 0, Project(["a","c"], Select("b", 0, NJoin(NJoin(R, S), T))))
render_markdown(x)
print(get_result(x))
cost_markdown(x)

[(4, 0), (8, 0), (10, 0), (12, 0), (14, 0), (16, 0), (18, 0), (0, 0), (2, 0), (6, 0)]

In [11]:
y = Project(["a","c"], NJoin(NJoin(Select("c", 0, Select("b", 0, S)),Select("c", 0, T) ), Select("b", 0, R)))

render_markdown(y)
print(get_result(y))
print(compare_results(x,y))
cost_markdown(y)

[(4, 0), (16, 0), (0, 0), (12, 0), (18, 0), (2, 0), (8, 0), (14, 0), (10, 0), (6, 0)]
True

#### 4.3（4分）

In [14]:
x = Select("c", 0, Project(["b", "c"], Select("d", 2, Select("a", 4, NJoin(R, NJoin(S,T))))))
render_markdown(x)
print(get_result(x))
cost_markdown(x)

[(4, 0), (8, 0), (1, 0), (3, 0), (5, 0), (7, 0), (9, 0), (0, 0), (2, 0), (6, 0)]

In [17]:
y = Project(["b", "c"], NJoin(Select("d", 2, Select("c", 0, T)), NJoin(Select("a", 4, R), Select("c", 0, S))))

render_markdown(y)
print(get_result(y))
print(compare_results(x,y))
cost_markdown(y)

[(9, 0), (4, 0), (0, 0), (7, 0), (2, 0), (8, 0), (3, 0), (5, 0), (6, 0), (1, 0)]
True

In [19]:
%%sql 
explain analyze
select p.c from (
    select S.c from R, S, T where S.c = T.c and S.b = R.b and R.a = 4 and T.d = 2
) as p
where p.c = 0;

 * postgresql://postgres:***@localhost:5432/hw4
16 rows affected.

[('Nested Loop  (cost=2.38..7.47 rows=10 width=4) (actual time=0.356..0.409 rows=10 loops=1)',),
 ('  ->  Seq Scan on t  (cost=0.00..2.50 rows=1 width=4) (actual time=0.025..0.045 rows=1 loops=1)',),
 ('        Filter: ((c = 0) AND (d = 2))',),
 ('        Rows Removed by Filter: 99',),
 ('  ->  Hash Join  (cost=2.38..4.88 rows=10 width=4) (actual time=0.327..0.356 rows=10 loops=1)',),
 ('        Hash Cond: (r.b = s.b)',),
 ('        ->  Seq Scan on r  (cost=0.00..2.25 rows=10 width=4) (actual time=0.010..0.029 rows=10 loops=1)',),
 ('              Filter: (a = 4)',),
 ('              Rows Removed by Filter: 90',),
 ('        ->  Hash  (cost=2.25..2.25 rows=10 width=8) (actual time=0.296..0.297 rows=10 loops=1)',),
 ('              Buckets: 1024  Batches: 1  Memory Usage: 9kB',),
 ('              ->  Seq Scan on s  (cost=0.00..2.25 rows=10 width=8) (actual time=0.012..0.112 rows=10 loops=1)',),
 ('                    Filter: (c = 0)',),
 ('                    Rows Removed by Filter: 90',),
 ('Planning Time: 0.296 ms',),
 ('Execution Time: 0.477 ms',)]

In [25]:
%%sql drop index if exists ir;
create index ir on T(c ,d);

 * postgresql://postgres:***@localhost:5432/hw4
Done.
Done.

[]

In [26]:
%%sql
explain analyze
select p.c from (
    select S.c from R, S, T where S.c = T.c and S.b = R.b and R.a = 4 and T.d = 2
) as p
where p.c = 0;

 * postgresql://postgres:***@localhost:5432/hw4
16 rows affected.

[('Nested Loop  (cost=2.38..7.47 rows=10 width=4) (actual time=0.084..0.119 rows=10 loops=1)',),
 ('  ->  Seq Scan on t  (cost=0.00..2.50 rows=1 width=4) (actual time=0.016..0.028 rows=1 loops=1)',),
 ('        Filter: ((c = 0) AND (d = 2))',),
 ('        Rows Removed by Filter: 99',),
 ('  ->  Hash Join  (cost=2.38..4.88 rows=10 width=4) (actual time=0.064..0.084 rows=10 loops=1)',),
 ('        Hash Cond: (r.b = s.b)',),
 ('        ->  Seq Scan on r  (cost=0.00..2.25 rows=10 width=4) (actual time=0.012..0.025 rows=10 loops=1)',),
 ('              Filter: (a = 4)',),
 ('              Rows Removed by Filter: 90',),
 ('        ->  Hash  (cost=2.25..2.25 rows=10 width=8) (actual time=0.037..0.037 rows=10 loops=1)',),
 ('              Buckets: 1024  Batches: 1  Memory Usage: 9kB',),
 ('              ->  Seq Scan on s  (cost=0.00..2.25 rows=10 width=8) (actual time=0.007..0.021 rows=10 loops=1)',),
 ('                    Filter: (c = 0)',),
 ('                    Rows Removed by Filter: 90',),
 ('Planning Time: 0.781 ms',),
 ('Execution Time: 0.163 ms',)]

PostgreSQL进行了哪些关系代数优化: 在两张表进行Join操作的时候，由于是=判断，PostgreSQL使用了Hash Join
PostgreSQL是否使用了创建的索引，并分析原因: 并没有使用创建的索引，可能创建的是非聚集索引，在查询的时候相对于线性查询Seq Scan没有加速。

### 5. 空间索引（20分）

非空间索引相关练习参考课堂练习6。

Natural Earth网站下载[Urban Areas](http://www.naturalearthdata.com/downloads/10m-cultural-vectors/) (12.49 MB version 4.0.0)，[Rivers+lake centerlines](http://www.naturalearthdata.com/downloads/10m-physical-vectors/) (1.73 MB version 4.1.0)，和[Populated Places](http://www.naturalearthdata.com/downloads/10m-cultural-vectors/) (2.68 MB version 4.1.0)数据。

在PostgreSQL中导入上述三个shapefile文件，注意导入时**缺省选项是为空间数据创建空间索引**，需要取消这些创建索引选项，手动为Urban_Areas、Rivers和Cities创建空间索引，需要手动修改导入后的关系名。

<img src = "shapefile.png"/>

构造以下空间查询，不能使用with语句。首先在无空间索引下查询，然后创建空间索引，再在有空间索引下查询。

#### 5.1 查询每条河流穿越城市区域的次数，查询结果模式为(rivers.name, num)，按次数降序排列 (使用ST_Crosses实现)（4分）

In [16]:
%%sql 
explain analyze
select r.name, count(*) as num from rivers as r, urban_areas as u
where r.featurecla = 'River' and ST_Crosses(r.wkb_geometry, u.wkb_geometry)
group by r.name
order by num desc;

 * postgresql://postgres:***@localhost:5432/hw4
16 rows affected.

[('Sort  (cost=35544.24..35546.67 rows=974 width=16) (actual time=7243.388..7243.408 rows=490 loops=1)',),
 ('  Sort Key: (count(*)) DESC',),
 ('  Sort Method: quicksort  Memory: 52kB',),
 ('  ->  HashAggregate  (cost=35486.15..35495.89 rows=974 width=16) (actual time=7243.264..7243.317 rows=490 loops=1)',),
 ('        Group Key: r.name',),
 ('        Batches: 1  Memory Usage: 129kB',),
 ('        ->  Nested Loop  (cost=0.15..34695.54 rows=158121 width=8) (actual time=4.311..7240.929 rows=1867 loops=1)',),
 ('              ->  Seq Scan on rivers r  (cost=0.00..348.19 rows=1202 width=2874) (actual time=0.038..1.009 rows=1202 loops=1)',),
 ("                    Filter: ((featurecla)::text = 'River'::text)",),
 ('                    Rows Removed by Filter: 253',),
 ('              ->  Index Scan using urban_wkb_geometry_geom_idx on urban_areas u  (cost=0.15..28.57 rows=1 width=1601) (actual time=1.189..6.017 rows=2 loops=1202)',),
 ('                    Index Cond: (wkb_geometry && r.wkb_geometry)',),
 ('                    Filter: st_crosses(r.wkb_geometry, wkb_geometry)',),
 ('                    Rows Removed by Filter: 8',),
 ('Planning Time: 1.050 ms',),
 ('Execution Time: 7243.657 ms',)]

基于上述查询规划回答以下问题

城市区域和河流的连接操作使用了哪个Join算法：使用了Nested Loop
基于河流分组使用了什么算法实现：使用了Seq Scan
按次数降序排列使用了什么算法实现：使用了快速排序
按次数降序排列是在磁盘还是内存完成：在内存中完成

#### 5.2 查询在亚马逊河流10个单位距离内的所有城市，查询结果模式为(cities.gid, cities.name) (使用ST_Distance实现)（4分）

In [18]:
%%sql 
explain analyze
select distinct c.ogc_fid, c.name from rivers as r, cities as c
where r.name_zh like '%亚马逊%' and ST_Distance(c.wkb_geometry, r.wkb_geometry) < 10;

 * postgresql://postgres:***@localhost:5432/hw4
18 rows affected.

[('Unique  (cost=368877.90..368914.62 rows=4895 width=13) (actual time=373.870..374.040 rows=273 loops=1)',),
 ('  ->  Sort  (cost=368877.90..368890.14 rows=4895 width=13) (actual time=373.865..373.882 rows=360 loops=1)',),
 ('        Sort Key: c.ogc_fid, c.name',),
 ('        Sort Method: quicksort  Memory: 43kB',),
 ('        ->  Nested Loop  (cost=0.00..368577.91 rows=4895 width=13) (actual time=58.432..373.730 rows=360 loops=1)',),
 ("              Join Filter: (st_distance(c.wkb_geometry, r.wkb_geometry) < '10'::double precision)",),
 ('              Rows Removed by Join Filter: 14326',),
 ('              ->  Seq Scan on cities c  (cost=0.00..859.43 rows=7343 width=45) (actual time=0.015..0.982 rows=7343 loops=1)',),
 ('              ->  Materialize  (cost=0.00..348.20 rows=2 width=2866) (actual time=0.006..0.007 rows=2 loops=7343)',),
 ('                    ->  Seq Scan on rivers r  (cost=0.00..348.19 rows=2 width=2866) (actual time=46.287..47.164 rows=2 loops=1)',),
 ("                          Filter: ((name_zh)::text ~~ '%亚马逊%'::text)",),
 ('                          Rows Removed by Filter: 1453',),
 ('Planning Time: 0.660 ms',),
 ('JIT:',),
 ('  Functions: 10',),
 ('  Options: Inlining false, Optimization false, Expressions true, Deforming true',),
 ('  Timing: Generation 6.950 ms, Inlining 0.000 ms, Optimization 7.032 ms, Emission 37.100 ms, Total 51.082 ms',),
 ('Execution Time: 381.382 ms',)]

基于上述查询规划回答以下问题

查询规划估计的查询结果行数为：4895
查询语句实际的查询结果行数为：273
结果去重时(distinct)采用了什么算法实现：使用了Unique()函数
ST_Distance(geometry, geometry)的cost值为(pgAdmin中查找)：0.00..368577.91

#### 5.3 为上述三个关系创建GiST空间索引（3分）

In [23]:
%%sql
drop index if exists rivers_geom_idx;
drop index if exists cities_geom_idx;
drop index if exists urban_areas_geom_idx;
create index rivers_geom_idx on rivers using GIST(wkb_geometry);
create index urban_areas_geom_idx on urban_areas using GIST(wkb_geometry);
create index cities_geom_idx on cities using GIST(wkb_geometry);

 * postgresql://postgres:***@localhost:5432/hw4
Done.
Done.
Done.
Done.
Done.
Done.

[]

通过pg_class关系查询索引存储所需的数据页数和行数，即Block数目和城市区域、河流与城市数目

In [24]:
%sql select relpages, reltuples from pg_class where relname = 'urban_areas_geom_idx'

 * postgresql://postgres:***@localhost:5432/hw4
1 rows affected.

[(82, 11878.0)]

In [25]:
%sql select relpages, reltuples from pg_class where relname = 'rivers_geom_idx'

 * postgresql://postgres:***@localhost:5432/hw4
1 rows affected.

[(9, 1455.0)]

In [26]:
%sql select relpages, reltuples from pg_class where relname = 'cities_geom_idx'

 * postgresql://postgres:***@localhost:5432/hw4
1 rows affected.

[(49, 7343.0)]

#### 5.4 再次执行5.1的查询语句（3分）

In [27]:
%%sql
explain analyze
select r.name, count(*) as num from rivers as r, urban_areas as u
where r.featurecla = 'River' and ST_Crosses(r.wkb_geometry, u.wkb_geometry)
group by r.name
order by num desc;

 * postgresql://postgres:***@localhost:5432/hw4
16 rows affected.

[('Sort  (cost=35544.24..35546.67 rows=974 width=16) (actual time=7176.912..7176.933 rows=490 loops=1)',),
 ('  Sort Key: (count(*)) DESC',),
 ('  Sort Method: quicksort  Memory: 52kB',),
 ('  ->  HashAggregate  (cost=35486.15..35495.89 rows=974 width=16) (actual time=7176.774..7176.828 rows=490 loops=1)',),
 ('        Group Key: r.name',),
 ('        Batches: 1  Memory Usage: 129kB',),
 ('        ->  Nested Loop  (cost=0.15..34695.54 rows=158121 width=8) (actual time=4.051..7174.737 rows=1867 loops=1)',),
 ('              ->  Seq Scan on rivers r  (cost=0.00..348.19 rows=1202 width=2874) (actual time=0.118..1.516 rows=1202 loops=1)',),
 ("                    Filter: ((featurecla)::text = 'River'::text)",),
 ('                    Rows Removed by Filter: 253',),
 ('              ->  Index Scan using urban_wkb_geometry_geom_idx on urban_areas u  (cost=0.15..28.57 rows=1 width=1601) (actual time=1.204..5.962 rows=2 loops=1202)',),
 ('                    Index Cond: (wkb_geometry && r.wkb_geometry)',),
 ('                    Filter: st_crosses(r.wkb_geometry, wkb_geometry)',),
 ('                    Rows Removed by Filter: 8',),
 ('Planning Time: 1.958 ms',),
 ('Execution Time: 7177.156 ms',)]

基于上述查询规划回答以下问题

查询规划利用了哪些空间索引：在查询wkb_geometry值的时候运用了index
与5.1相比，nested loop中Filter有何差异：两者的查询filter相同。
与5.1相比，查询规划估计的cost值(最大值)减少了(任意单位)：11878 - 82 + 1455 - 9 = 13242

#### 5.5 再次查询5.2，使用ST_DWithin实现（4分）

In [28]:
%%sql 
explain analyze 
select distinct c.ogc_fid, c.name from rivers as r, cities as c
where r.name_zh like '%亚马逊%' and ST_DWithin(c.wkb_geometry, r.wkb_geometry, 10);

 * postgresql://postgres:***@localhost:5432/hw4
13 rows affected.

[('HashAggregate  (cost=415.73..417.11 rows=138 width=13) (actual time=37.499..37.549 rows=273 loops=1)',),
 ('  Group Key: c.ogc_fid, c.name',),
 ('  Batches: 1  Memory Usage: 61kB',),
 ('  ->  Nested Loop  (cost=0.40..415.04 rows=138 width=13) (actual time=2.796..37.092 rows=360 loops=1)',),
 ('        ->  Seq Scan on rivers r  (cost=0.00..348.19 rows=2 width=2866) (actual time=0.909..1.541 rows=2 loops=1)',),
 ("              Filter: ((name_zh)::text ~~ '%亚马逊%'::text)",),
 ('              Rows Removed by Filter: 1453',),
 ('        ->  Index Scan using cities_geom_idx on cities c  (cost=0.40..33.41 rows=1 width=45) (actual time=0.166..16.747 rows=180 loops=2)',),
 ("              Index Cond: (wkb_geometry && st_expand(r.wkb_geometry, '10'::double precision))",),
 ("              Filter: st_dwithin(wkb_geometry, r.wkb_geometry, '10'::double precision)",),
 ('              Rows Removed by Filter: 30',),
 ('Planning Time: 1.723 ms',),
 ('Execution Time: 44.344 ms',)]

基于上述查询规划回答以下问题

查询规划利用了哪些空间索引：在查询wkb_geometry值的时候运用了index
ST_DWithin(geometry, geomtry)的cost值为(在pgAdmin中查找)：0.40..33.41
河流和城市通过精确几何判断距离小于10的行数与空间索引通过包围盒判断距离可能小于10的行数比值：45 / 2866 = 0.0157
与5.2相比，查询语句实际运行时间减少了(ms)： 381.382 - 44.344 = 337.038

#### 5.6 设置查询选项，如enable_indexscan，再次执行5.5查询语句（2分）

In [29]:
%sql SET enable_indexscan = false;

 * postgresql://postgres:***@localhost:5432/hw4
Done.

[]

In [30]:
%%sql 
explain analyze
select distinct c.ogc_fid, c.name from rivers as r, cities as c
where r.name_zh like '%亚马逊%' and ST_DWithin(c.wkb_geometry, r.wkb_geometry, 10);

 * postgresql://postgres:***@localhost:5432/hw4
15 rows affected.

[('HashAggregate  (cost=415.73..417.11 rows=138 width=13) (actual time=34.854..34.887 rows=273 loops=1)',),
 ('  Group Key: c.ogc_fid, c.name',),
 ('  Batches: 1  Memory Usage: 61kB',),
 ('  ->  Nested Loop  (cost=4.41..415.04 rows=138 width=13) (actual time=0.760..34.352 rows=360 loops=1)',),
 ('        ->  Seq Scan on rivers r  (cost=0.00..348.19 rows=2 width=2866) (actual time=0.546..0.969 rows=2 loops=1)',),
 ("              Filter: ((name_zh)::text ~~ '%亚马逊%'::text)",),
 ('              Rows Removed by Filter: 1453',),
 ('        ->  Bitmap Heap Scan on cities c  (cost=4.41..33.42 rows=1 width=45) (actual time=0.292..16.615 rows=180 loops=2)',),
 ("              Filter: st_dwithin(wkb_geometry, r.wkb_geometry, '10'::double precision)",),
 ('              Rows Removed by Filter: 30',),
 ('              Heap Blocks: exact=143',),
 ('              ->  Bitmap Index Scan on cities_geom_idx  (cost=0.00..4.41 rows=1 width=0) (actual time=0.138..0.138 rows=210 loops=2)',),
 ("                    Index Cond: (wkb_geometry && st_expand(r.wkb_geometry, '10'::double precision))",),
 ('Planning Time: 0.728 ms',),
 ('Execution Time: 35.006 ms',)]

基于上述查询规划，回答该查询是否利用了索引，哪些索引，如何用来加速判断？

使用了Bitmap Heap Scan和Bitmap Index Scan，通过位图的比较加快判断。

In [31]:
%sql SET enable_bitmapscan = false;

 * postgresql://postgres:***@localhost:5432/hw4
Done.

[]

In [32]:
%%sql 
explain analyze
select distinct c.ogc_fid, c.name from rivers as r, cities as c
where r.name_zh like '%亚马逊%' and ST_DWithin(c.wkb_geometry, r.wkb_geometry, 10);

 * postgresql://postgres:***@localhost:5432/hw4
18 rows affected.

[('Unique  (cost=368546.10..368547.14 rows=138 width=13) (actual time=414.174..414.315 rows=273 loops=1)',),
 ('  ->  Sort  (cost=368546.10..368546.45 rows=138 width=13) (actual time=414.173..414.189 rows=360 loops=1)',),
 ('        Sort Key: c.ogc_fid, c.name',),
 ('        Sort Method: quicksort  Memory: 43kB',),
 ('        ->  Nested Loop  (cost=0.00..368541.20 rows=138 width=13) (actual time=35.959..414.041 rows=360 loops=1)',),
 ("              Join Filter: st_dwithin(c.wkb_geometry, r.wkb_geometry, '10'::double precision)",),
 ('              Rows Removed by Join Filter: 14326',),
 ('              ->  Seq Scan on cities c  (cost=0.00..859.43 rows=7343 width=45) (actual time=0.032..4.828 rows=7343 loops=1)',),
 ('              ->  Materialize  (cost=0.00..348.20 rows=2 width=2866) (actual time=0.004..0.004 rows=2 loops=7343)',),
 ('                    ->  Seq Scan on rivers r  (cost=0.00..348.19 rows=2 width=2866) (actual time=26.390..27.128 rows=2 loops=1)',),
 ("                          Filter: ((name_zh)::text ~~ '%亚马逊%'::text)",),
 ('                          Rows Removed by Filter: 1453',),
 ('Planning Time: 1.241 ms',),
 ('JIT:',),
 ('  Functions: 10',),
 ('  Options: Inlining false, Optimization false, Expressions true, Deforming true',),
 ('  Timing: Generation 7.209 ms, Inlining 0.000 ms, Optimization 2.214 ms, Emission 22.235 ms, Total 31.658 ms',),
 ('Execution Time: 421.705 ms',)]

基于上述查询规划，回答该查询是否利用了索引，哪些索引，如何用来加速判断？

在禁止了bitmap_scan后，查询不再使用索引。

In [33]:
%%sql
SET enable_indexscan = true;
SET enable_bitmapscan = true;
explain analyze
select distinct c.ogc_fid, c.name from rivers as r, cities as c
where r.name_zh like '%亚马逊%' and ST_DWithin(c.wkb_geometry, r.wkb_geometry, 10);

 * postgresql://postgres:***@localhost:5432/hw4
Done.
Done.
13 rows affected.

[('HashAggregate  (cost=415.73..417.11 rows=138 width=13) (actual time=27.131..27.161 rows=273 loops=1)',),
 ('  Group Key: c.ogc_fid, c.name',),
 ('  Batches: 1  Memory Usage: 61kB',),
 ('  ->  Nested Loop  (cost=0.40..415.04 rows=138 width=13) (actual time=0.679..26.835 rows=360 loops=1)',),
 ('        ->  Seq Scan on rivers r  (cost=0.00..348.19 rows=2 width=2866) (actual time=0.561..0.976 rows=2 loops=1)',),
 ("              Filter: ((name_zh)::text ~~ '%亚马逊%'::text)",),
 ('              Rows Removed by Filter: 1453',),
 ('        ->  Index Scan using cities_geom_idx on cities c  (cost=0.40..33.41 rows=1 width=45) (actual time=0.115..12.809 rows=180 loops=2)',),
 ("              Index Cond: (wkb_geometry && st_expand(r.wkb_geometry, '10'::double precision))",),
 ("              Filter: st_dwithin(wkb_geometry, r.wkb_geometry, '10'::double precision)",),
 ('              Rows Removed by Filter: 30',),
 ('Planning Time: 0.520 ms',),
 ('Execution Time: 27.273 ms',)]

### 作业感想

收获:-)，疑惑:-|，吐槽:-(，...，你的反馈很重要

这次的作业很硬核，通过作业，我也理解了一些索引加速的原理，并认识到如何在创建数据库的时候利用索引。