# 作业2 空间数据库创建和数据查询

姓名：

学号：

**作业目的：**了解OGC SFA标准，了解开源对象关系数据库系统PostgreSQL及其空间扩展PostGIS，熟悉PostGIS空间函数帮助文档查询方法，熟悉PostgreSQL空间数据库建库和数据导入，掌握各种几何关系判断、空间分析及相关SQL操作，熟悉在QGIS和在线地图上展示与分析查询结果。

**注意事项：**
* SQL语句的错误输出为乱码时，修改SET client_encoding = 'GBK';或SET client_encoding = 'UTF-8';，重新连接数据库
* Jupyter Notebook对SQL语句的错误提示较弱，可以先在pgAdmin 4上执行，查看详细的错误信息
* 作业2总分60分，作业考察的题目后面标了具体分数，可以相互讨论思路，作业抄袭或雷同都要扣分
* **学号.jpg、作业2\_学号\_姓名.ipynb和jsonData文件夹**替换其中的学号和姓名，包含执行结果，一起压缩为__作业2\_学号\_姓名.rar/zip__，**不要包含数据文件**，提交到学在浙大，作业2截止日期**2021.10.31**

### 1. OGC Simple Feature Access标准

<a href="http://www.opengeospatial.org/docs/is" target="_blank">Open Geospatial Consortium</a>的Simple Feature Access标准包含两个部分Part 1 <a href="http://portal.opengeospatial.org/files/?artifact_id=25355" target="_blank">Common architecture</a>和Part 2 <a href="http://portal.opengeospatial.org/files/?artifact_id=25354" target="_blank">SQL option</a>两部分，给出了地理空间几何类型及其SQL实现规范，建议阅读参考。

#### Part I Common architecture的Introduction介绍如下：

OpenGIS®简单要素访问规范(SFA)的本文部分，也叫做ISO 19125，描述了简单地理要素的常用架构。简单地理要素对象模型是计算平台无关，并使用UML表示法。基类Geometry包含子类Point，Curve，Surface和GeometryCollection。每个几何对象和一个空间参考系(Spatial Reference System)关联，空间参考系描述了几何对象的坐标空间。

扩展几何模型包括特定的0，1和2维集合类，即MultiPoint、MultiLineString和MultiPolygon，他们分别用于对点、线和面集合的建模。MultiCurve和MultiSurface作为抽象超类，用于产生处理曲线和面集合的接口。

#### Part 2 SQL option的Introduction介绍如下：
OpenGIS®简单要素访问规范(SFA)的第二部分，也被称作ISO 19125，定义了标准的结构化查询语句(SQL)规范，支持通过SQL调用接口(SQL/CLI) (ISO/IEC 9075-3：2003)的要素集合的存储、检索、查询和更新。一个要素同时具有空间和非空间属性。空间属性是具有几何意义(geometry valued)，同时简单要素是基于2D或更少维度的几何实体(点、曲线和面)，在二维中顶点之间可以线性插值，三维中顶点可以平面插值。这一标准是基于定义在Part 1中的常用架构组件。

在SQL实现中，单个类型的要素集合存储在一张要素表的具有几何意义的属性(列)。每个要素通常表示为这一要素表中的一行，通过标准SQL技术逻辑连接这一要素表和其他表。要素的非空间属性(列)的数据类型来自于SQL数据类型，包括SQL3的用户自定义类型(UDT)。要素的空间属性(列)的数据类型是基于本标准的SQL的几何数据类型。要素表模式可以通过两种SQL方式实现，基于SQL预定义数据类型的经典SQL关系模型，和基于附加几何类型的SQL。无论哪种实现，几何表示有一组SQL方法函数，支持几何行为和查询。

在基于预定义数据类型的实现中，具有几何意义的列通过几何表中一个几何ID实现。几何数据存储在几何表中的一行或多行，这些行具有相同的几何ID作为他们的主键。几何表可以使用标准的SQL数值类型或SQL二进制类型实现；这两者的模式在这个标准中描述。

术语“带几何类型的SQL”常用来指拓展了一套几何类型的SQL实现。在这种实现中，一个具有几何意义的列通过几何类型的列实现。拓展SQL实现类型系统的机制是通过用户自定义的类型来完成的。基于用户自定义类型的商用的SQL实现从1997年中期开始就已经存在，对于UDT定义、ISO标准也已经存在。是作为SQL类型来自这套几何类型的列来实现的。商业的支持用户定义类型支持的SQL实现从1997年中期开始就已经存在，。这个标准不是指特定的用户定义类型机制，但需要支持UDTS定义的接口标准。这些接口描述了ISO/IEC 13249-3中的SQL3 UDTs。

<img src="polygon.svg">

1.1 请给出图(a)中灰色多边形的Well-Known Text (WKT) Representation。（1分）

POLYGON((2 2, 11 2, 11 12, 2 12), (4 4, 7 4, 7 9, 4 9))

1.2 基于6.1.11.1的Polygon的assertions (the rules that define valid Polygons)，请分析图(b)中几何对象不能用a polygon表示的原因。（1分）

POLYGON的定义是由一个外边界以及0或者多个内边界组成的表面，图(b)中的对象并不符合这一定义。

1.3 请给出图(c)中绿色多边形(A)和蓝色线(B)的Dimensionally Extended Nine-Intersection Model (DE-9IM)。（1分）

    I(B)  B(B) E(B)
I(A) T     T    T
B(A) T     F    T
E(A) T     T    T

1.4 当a.Relate(b,“T\*T\*\*\*T\*\*”)返回True时，请给出几何对象a和b所对应的空间关系。（1分）

说明此时几何对象a和b处于重叠(overlap)的状态

1.5 请给出空间关系Contains的九交矩阵(9IM)的字符串表示。（1分）

T*****FF*

### 2. PostGIS实现了OGC SFA标准，使用相应空间类型和函数时，建议查询<a href="http://postgis.net/docs/reference.html" target="_blank">帮助文档</a>。

2.1 请翻译ST_MakePoint函数在PostGIS帮助文档中的Name和Description小节内容。

Name
ST_MakePoint — Creates a 2D,3DZ or 4D point geometry.
ST_MakePoint – 创建一个2D，3DZ或4D点几何。

Description
Creates a 2D,3DZ or 4D point geometry (geometry with measure). ST_MakePoint while not being OGC compliant is generally faster and more precise than ST_GeomFromText and ST_PointFromText. It is also easier to use if you have raw coordinates rather than WKT.
创建一个2D，3DZ或4D点几何（几何和度量）。ST_MakePoint虽然并不符合OGC规范，但通常比ST_GeomFromText和ST_PointFromText更快和精确。如果你使用原始坐标，而不是WKT，ST_MakePoint也更容易使用。

  Note x is longitude and y is latitude
  注意x是经度，y是纬度。
    
Use ST_MakePointM if you need to make a point with x,y,m.
如果你需要一个具有x，y和m值的点，使用ST_MakePointM

This function supports 3d and will not drop the z-index.
本函数支持三维，不会丢弃z-index.

2.2 ST_Distance函数说明：
* For geometry type Returns the 2D Cartesian distance between two geometries in projected units (based on spatial ref). 
* For geography type defaults to return minimum geodesic distance between two geographies in meters.

在空间参考系4326下，使用ST_Distance(geometry(Point, 4326), geometry(LineString, 4326))计算距离，返回的是什么距离，单位是什么？（1分）

返回两个对象之间的笛卡尔距离，单位为米

2.3 基于帮助文档，请比较~=(操作符)、=(操作符)、ST_Equals和ST_OrderingEquals四个函数的异同。（1分）

~=：只要bounding box相同，就返回TRUE
=：当坐标以及其顺序完全一致就返回TRUE
ST_Equals：当两个对象包含了相同的点集就返回TRUE
ST_OrderingEquals：点集需要有相同顺序。

2.4 ST_Distance(Point, Polygon) <= 10和ST_DWithin(Point, Polygon, 10)功能上等价，而效率差异较大。基于帮助文档，请分析效率差异的原因。（1分）

ST_DWithin可以使用index，因此在实际计算中效率会更高。

2.5 基于帮助文档，请比较ST_DistanceSphere(geometry pointlonlatA, geometry pointlonlatB)、ST_Distance(geometry g1, geometry g2)与ST_DistanceSpheroid(geometry pointlonlatA, geometry pointlonlatB, spheroid measurement_spheroid)三个函数的异同。（1分）

ST_Distance用作计算二维对象的笛卡尔距离；ST_DistanceSphere使用了SRID定义的球体模型；ST_DistanceSpheroid则是在给定一个球体的情况下计算距离，速度不如前者

2.6 哪个函数可以将MultiXXX转换XXX，如MultiPolygon转换获得多个Polygon？（1分）

select ST_Dump(ST_GeomFromText('MULTILINESTRING((0 0,1 1,1 2),(2 3,3 2,5 4))'))

### 3. 美国湖泊、城市、高速公路及其交通事故的空间数据库创建和查询

通过pgAdmin 4在PostgreSQL数据库中创建hw2数据库，添加postgis扩展(create extension postgis)，并连接该数据库。

In [58]:
%load_ext sql
from geom_display import display
from geom_display import choroplethMap
from geom_display import heatMap

# display([result1, result2, ...], divId, zoom)对数组中所有的result数据进行几何展示，
# result的关系类型至少包含(gid，geom，name)，zoom为放缩比例, name是在地图上描述geom的名词

# choroplethMap(result, divId, zoom)对数组中所有的result数据进行主题地图展示，
# result的关系类型至少包括(gid，geom, name, value)，zoom为放缩比例, name是在地图上描述geom的名词, value是用于映射颜色的数值

# heatMap(result, divId, zoom)对数组中所有的result数据进行热力图展示，
# result的关系类型至少包括(gid，geom，name)，zoom为放缩比例，name是在地图上描述geom的名词, 也可以给出value值，用于颜色映射，缺省都为1

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [59]:
%%sql postgresql://postgres:postgres@localhost:5432/hw2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET client_encoding = 'GBK'; 
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

Done.
Done.
Done.
Done.
Done.
Done.

[]

3.1 通过PostGIS的shapefile导入工具，在PostgreSQL中导入美国accidents、highways和lakes的shapefile数据。（1分）

美国高速公路交通事故数据来源于美国交通局 ([白宫新闻备份](https://obamawhitehouse.archives.gov/blog/2016/08/29/2015-traffic-fatalities-data-has-just-been-released-call-action-download-and-analyze))，[属性含义](./FARS_Dictionary_Provisional.pdf)，其中STATE为美国56个州的ID，[STATE属性所代表的州](https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations)，ST_CASE由州ID和交通事故编号组成，交通事故发生在county和city，时间为day, month, year, day_week, hour和minute，地点在latitude和longitud，是否酒驾drunk_dr，大于0为酒驾。地点latitude和longitud存在错误数据情况，如大于1000，忽略这类错误数据。

注意：shapefile文件不能放在包含中文的路径下，usaccidents、ushighways和uslakes的空间参考系需更改为4326。

In [5]:
highway_num  = %sql select count(*) from ushighways;
lake_num     = %sql select count(*) from uslakes;
accident_num = %sql select count(*) from usaccidents;
highway_srid = %sql select ST_SRID(geom) from ushighways limit 1;
lake_srid    = %sql select ST_SRID(geom) from uslakes limit 1;
accident_srid= %sql select ST_SRID(geom) from usaccidents limit 1
print('the number of highways is ' + str(highway_num[0][0]))
print('the number of lakes is ' + str(lake_num[0][0]))
print('the number of accidents is ' + str(accident_num[0][0]))
print('the SRID of ushighways is ' + str(highway_srid[0][0]))
print('the SRID of uslakes is ' + str(lake_srid[0][0]))
print('the SRID of usaccidents is ' + str(accident_srid[0][0]))

 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.
the number of highways is 233
the number of lakes is 29
the number of accidents is 32166
the SRID of ushighways is 4326
the SRID of uslakes is 4326
the SRID of usaccidents is 4326

In [9]:
# 修改usaccidents, ushighways和uslakes得SRID为4326
%sql SELECT UpdateGeometrySRID('usaccidents','geom',4326);
%sql SELECT UpdateGeometrySRID('ushighways','geom',4326);
%sql SELECT UpdateGeometrySRID('uslakes','geom',4326);

 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.

[('public.uslakes.geom SRID changed to 4326',)]

3.2 创建关系uscities(gid, name, state, latitude, longitude)，gid的数据类型为integer，name和state的数据类型为varchar(100)，latitude和longitude的数据类型为numeric。（2分）

In [11]:
%%sql CREATE TABLE uscities(
    gid int primary key,
    name varchar(100),
    state varchar(100),
    latitude numeric,
    longitude numeric
);

 * postgresql://postgres:***@localhost:5432/hw2
Done.

[]

3.3 通过[copy语句](https://www.postgresql.org/docs/current/static/sql-copy.html)导入uscities数据，注意属性之间的分隔符。（1分）

In [13]:
%sql copy uscities from '/tmp/uscity.txt' delimiter '#';

 * postgresql://postgres:***@localhost:5432/hw2
679 rows affected.

[]

3.4 对关系uscities增加几何属性列geom，根据每个城市的latitude和longtide，更新geom属性，注意空间参考系需与ushighways和uslakes相同。（2分）

In [174]:
%%sql ALTER TABLE uscities ADD COLUMN if not exists geom geometry;
UPDATE uscities SET geom=ST_GeomFromWKB(ST_POINT(longitude, latitude), 4326);

 * postgresql://postgres:***@localhost:5432/hw2
Done.
679 rows affected.

[]

3.5 在QGIS中展示City图层、Highway图层、Lake图层和Accident图层，截图保存为学号.jpg，与本文件同一目录，修改下面的highways.png为你的学号，Shift+Enter能正确展示QGIS截图。可能由于浏览器图片缓存原因，修改后不能立即显示新图片，重新打开jupyter notebook验证图片是否正确显示。（1分）
<img src="result.png">

#### 3.6 构造以下GIS分析与SQL查询，注意空间函数对Geometry和GeometryCollection的有效性。

3.6.0 查询伊利湖(Erie)的边界，通过display函数在地图上展示该边界，display函数要求查询结果模式至少包含gid，name和geom属性。

In [176]:
query = """
select gid, array_to_string(array['Lake Erie','''','s',' Boundary'], '') as name, ST_Boundary(geom) as geom
from uslakes
where name like '%Erie%'
"""
result = %sql $query

display([result], "map0", 6)

 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.

3.6.1 查询苏必利尔湖(Superior)几何数据中点的数目(the number of points in the geometry of 'Superior')（2分）

In [175]:
%%sql SELECT count(point) FROM (
    SELECT gid, ST_DumpPoints(geom) as point FROM uslakes WHERE name LIKE '%Superior%'
) as T GROUP BY gid;

 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.

[(166,)]

3.6.2 查询高速公路全称(full_name)为’I 278’的凸包，通过display函数在地图上展示该凸包，display函数要求查询结果模式至少包含gid，name和geom属性（2分）

In [60]:
query = """ 
SELECT gid, ST_ConvexHull(geom) as geom, full_name as name FROM ushighways WHERE full_name='I 278'
""" 
result1 = %sql $query
result2 = %sql select gid, geom, full_name as name from ushighways where full_name = 'I 278'

display([result1, result2], "map1", 11)

 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.

3.6.3 查询哪些湖中有岛，通过display函数在地图上展示这些湖，display函数要求查询结果模式至少包含gid，name和geom属性（2分）

In [178]:
query = """
SELECT T1.gid, name, (ST_DumpRings((ST_Dump(geom)).geom)).geom as geom FROM uslakes as T1 JOIN (
    SELECT count(gid), gid FROM (
        SELECT gid, name, (ST_DumpRings((ST_Dump(geom)).geom)).geom FROM uslakes
    ) as T2 GROUP BY gid
)as T3 on T1.gid=T3.gid
WHERE count>1
"""

result = %sql $query

display([result], "map2", 4)

 * postgresql://postgres:***@localhost:5432/hw2
11 rows affected.

3.6.4 查询湖的面积属性是否准确 (绝对误差小于1e-6)，列出面积属性shape_area不准确的湖及其误差，查询结果模式为(gid，name，error)（2分）<br/>
**数据清洗与验证**：数据输入时，可能存在错误或误差，此时需要通过数据清理Data Cleaning，对数据进行验证和纠错

In [179]:
%sql select gid, name, shape_area-ST_Area(geom) as error from uslakes where shape_area-ST_Area(geom)>1e-6;

 * postgresql://postgres:***@localhost:5432/hw2
2 rows affected.

[(9, 'Great Salt Lake', 0.10000000000274623),
 (24, 'Lake Erie', 0.00019999999795938805)]

3.6.5 查询最长的高速公路及其长度(单位为千米)，通过display函数在地图上展示该高速公路，查询结果模式为(gid，name，geom，length)，其中name为高速公路的full_name（2分）

In [246]:
query = """
select gid, name, geom, ST_Length(geom::geography)/1000 as length from ushighways ORDER BY length DESC Limit 1;
"""

result = %sql $query
print(result[0]['length'])

display([result], "map3", 4)

 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.
4648.205571504656

3.6.6 查询与安大略湖(Ontario)的质心距离最近的城市，通过display函数在地图上展示该湖和城市，display函数要求查询结果模式至少包含gid，name和geom属性，其中城市的name为‘name in state’的格式（2分）

In [185]:
query = """ 
select gid, array_to_string(array[name,' in ', state],'') as name, geom from uscities
where ST_Distance(geom, (select geom from uslakes where name like '%Ontario%'))<=all(
	select ST_Distance(geom, (select geom from uslakes where name like '%Ontario%'))
	from uscities
);
"""

result1 = %sql $query
result2 = %sql select gid, name, geom from uslakes where name like '%Ontario%';

display([result1,result2], "map4", 6)

 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.

3.6.7 查询距离ST_CASE = 10012交通事故最近的城市，查询返回距离最近的城市名'name in state'，不能使用关键词limit（2分）

In [217]:
%%sql select CONCAT(name,' in ',state) as name from uscities
where ST_Distance(geom, (select geom from usaccidents where ST_CASE=10012))<=all(select ST_Distance(geom, (select geom from usaccidents where ST_CASE=10012)) from uscities);

 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.

[('Gadsden in Alabama',)]

3.6.8 查询94号公路(gid=94)与哪些高速公路联通，不包括94号公路，求总长度（单位为千米），通过display函数在地图上展示这些高速公路，display函数要求查询结果模式至少包含gid，name和geom属性，其中name为高速公路的full_name（3分）

In [247]:
# 查询联通的高速公路
query = """
select gid, name, geom from ushighways
where ST_Intersects(geom, (select geom from ushighways where gid=94))=true;
"""
result1 = %sql $query
result2 = %sql select gid,geom, full_name as name from ushighways where gid = 94

display([result1, result2], "map5", 5)

# 查询总长度
query2 = """
select sum(ST_Length(geom::geography)/1000) from (
    select gid, name, geom from ushighways
    where ST_Intersects(geom, (select geom from ushighways where gid=94))=TRUE
) as T
"""

%sql $query2

 * postgresql://postgres:***@localhost:5432/hw2
3 rows affected.
 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.

 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.

[(2463.8625630020997,)]

3.6.9 查询与伊利湖(Erie)距离最近的高速公路，通过display函数在地图上展示该湖和高速公路，display函数要求查询结果模式至少包含gid，name和geom属性，其中高速公路的name为full_name（3分）

In [229]:
query = """
select gid, full_name as name, geom from ushighways
where ST_Distance(geom, (select geom from uslakes where name like '%Erie%'))<=
all(select ST_Distance(geom, (select geom from uslakes where name like '%Erie%')) from ushighways)
"""

result1 = %sql $query
result2 = %sql select gid, name, geom from uslakes where name like '%Erie%'

display([result1, result2], "map6", 4)

 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.

3.6.10 查询哪个城市最偏僻，即离高速公路的距离最远，通过display函数在地图上展示最偏僻的城市和与其最近的高速公路，display函数要求查询结果模式至少包含gid，name和geom属性，其中高速公路的name为full_name（3分）

In [253]:
# 查询最偏僻的城市
query1 = """
select T1.gid, name, geom, distance from uscities as T1 join (
    select gid, min(distance) as distance from (
        select uscities.gid as gid, ST_Distance(uscities.geom, ushighways.geom) as distance from uscities, ushighways
    ) as T
    group by gid
) as T2 on T1.gid=T2.gid
ORDER BY distance DESC LIMIT 1;
"""

result1 = %sql $query1

# 查询与最偏僻的城市最近的高速公路
query2 = """ 
select T3.h_gid as gid, full_name as name, T3.geom from (
    select ushighways.gid as h_gid, full_name, ushighways.geom, ST_Distance(uscities.geom, ushighways.geom) as distance from uscities, ushighways
) as T3 join (
    select gid, min(distance) as distance from (
        select uscities.gid as gid, ST_Distance(uscities.geom, ushighways.geom) as distance from uscities, ushighways
    ) as T
    group by gid
) as T4 on T3.distance=T4.distance
ORDER BY T3.distance DESC LIMIT 1;
"""

result2 = %sql $query2

display([result1, result2], "map7", 4)

 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.

3.6.11 查询哪些高速公路穿越湖，列出高速公路及其在湖中的长度，按长度从长到短排列，通过display函数在地图上展示这些高速公路和湖，display函数要求查询结果模式至少包含gid，name和geom属性， 其中高速公路的hname为full_name（3分）

In [13]:
# 查询穿越湖的公路
query1 = """ 
select ushighways.gid, ushighways.full_name as name, ushighways.geom from ushighways join uslakes
on ST_Crosses(ushighways.geom, uslakes.geom)=TRUE
""" 

result1 = %sql $query1

# 查询被公路穿越的湖
query2 = """ 
select uslakes.gid, uslakes.name, uslakes.geom from ushighways join uslakes
on ST_Crosses(ushighways.geom, uslakes.geom)=TRUE
"""

result2 = %sql $query2

display([result1, result2], "map8", 4)

# 查询高速公路在湖中的长度(hgid, hname, lgid, lname, length)
query3 = """ 
select ushighways.gid as hgid, ushighways.full_name as hname, uslakes.gid as lgid, uslakes.name as lname, ST_Length(ST_Intersection(ushighways.geom, uslakes.geom)::geography)/1000 as length
from ushighways join uslakes
on ST_Crosses(ushighways.geom, uslakes.geom)=TRUE
"""

%sql $query3

 * postgresql://postgres:***@localhost:5432/hw2
8 rows affected.
 * postgresql://postgres:***@localhost:5432/hw2
8 rows affected.

 * postgresql://postgres:***@localhost:5432/hw2
8 rows affected.

[(10, 'I 15', 9, 'Great Salt Lake', 7.843049183862527),
 (40, 'I 24', 19, 'Lake Barkley', 0.5994961944389188),
 (137, 'I 535', 26, 'Lake Superior', 3.009733197762535),
 (139, 'I 55', 11, 'Lake Michigan', 0.008943501893995903),
 (168, 'I 69', 27, 'Lake Huron', 0.635554789097042),
 (183, 'I 75', 11, 'Lake Michigan', 4.335250022249675),
 (183, 'I 75', 27, 'Lake Huron', 8.130551864269156),
 (200, 'I 81', 28, 'Lake Ontario', 6.419771479348432)]

3.6.12 将交通事故与高速公路基于空间距离进行关联，即距离某高速公路小于500米，认为该交通事故发生在这条高速公路上，查询哪条高速公路上的交通事故最多？由于交通事故较多，完整的查询大约需要30分钟，可以使用ST_DWithin加速距离判断，同时仅考虑在8月和9月发生的交通事故。通过display函数在地图上展示这些高速公路和其关联的交通事故，display函数要求查询结果模式至少包含gid，name和geom属性，其中高速公路的name为full_name（4分）<br/>
**空间关联查询**：此类空间关联查询是数据挖掘中的常见方法，应用较为广泛，如[道路与车辆关联](https://blog.csdn.net/aodiyu3146/article/details/101244686)分析道路拥堵情况？

In [23]:
# 查询满足题意的高速公路
query1 = """
select T2.gid, T2.name, T2.geom, count from (
    select gid, count(gid) as count from(
        select ushighways.gid, ushighways.name, ushighways.geom from ushighways join usaccidents
        on ST_DWithin((ushighways.geom)::geography, (usaccidents.geom)::geography, 500)=TRUE
        and (month=8 or month=9)
    ) as T
    group by gid
) as T1 join ushighways as T2
on T1.gid=T2.gid
order by count desc limit 1
"""

result1 = %sql $query1
print(result1[0].gid)

# 查询该高速公路上的交通事故
query2 = """ 
select gid, st_case as name, geom from usaccidents
where ST_DWithin(geom::geography, (select geom from ushighways where gid=183)::geography,500)=TRUE
and (month=8 or month=9)
"""

result2 = %sql $query2

display([result1, result2], "map9", 4, 1)

 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.
183
 * postgresql://postgres:***@localhost:5432/hw2
62 rows affected.

3.6.13 导入加州cal的shapefile文件，计算加州的经纬度范围，在该范围内，基于练习4网格生成方法构建$50\times46$，即X方向50，Y方向46，网格与加州多边形求交，即边界上的方格仅保留与加州相交的部分，统计每个方格内的交通事故数目，通过choroplethMap进行可视化，choroplethMap函数要求查询结果模式至少包含gid，name，geom和value属性，其中value为其内的交通事故数目，可以通过with语句简化SQL语句（4分）<br/>
**空间网格关联查询**：此类空间网格关联查询在实际应用中较为常见，如滴滴和Uber基于六边形网格统计打车人数，进行实时调价，[Uber Deck Grid and Hexagon layers](https://eng.uber.com/deck-gl-4-0/)
<img src="hexagon.jpg">

In [6]:
query="""
WITH 
    usext AS (
        SELECT 
            ST_SetSRID(CAST(ST_Extent(geom) AS geometry),
            4326) AS geom_ext, 50 AS x_gridcnt, 46 AS y_gridcnt
        FROM cal
    ),
    grid_dim AS (
        SELECT 
            (
                ST_XMax(geom_ext)-ST_XMin(geom_ext)
                ) / x_gridcnt AS g_width, 
            ST_XMin(geom_ext) AS xmin, ST_xmax(geom_ext) AS xmax,
            (
                ST_YMax(geom_ext)-ST_YMin(geom_ext)
                ) / y_gridcnt AS g_height,     
            ST_YMin(geom_ext) AS ymin, ST_YMax(geom_ext) AS ymax
        FROM usext                                  
    ), 
    grid AS (                    
        SELECT 
            (y-1)*50+x as gid, x, y, 
            ST_MakeEnvelope(  
                xmin + (x - 1) * g_width, ymin + (y - 1) * g_height,  
                xmin + x * g_width, ymin + y * g_height,
                4326
            ) AS grid_geom 
        FROM 
            (SELECT generate_series(1,x_gridcnt) FROM usext) AS x(x)    
            CROSS JOIN 
            (SELECT generate_series(1,y_gridcnt) FROM usext) AS y(y) 
            CROSS JOIN 
            grid_dim                                                 
    ),
    cal_grid AS (
        SELECT g.gid, ST_Intersection(s.geom, grid_geom) AS geom
        FROM cal AS s INNER JOIN grid AS g 
        ON ST_Intersects(s.geom,g.grid_geom)
    ) 
    SELECT T3.gid, count as name, T3.geom as geom, count as value from cal_grid as T3 join (
        SELECT T1.gid as c_gid, count(T2.gid) as count from cal_grid as T1 join (
            SELECT gid, geom from usaccidents WHERE ST_Within(geom, (SELECT geom FROM cal))
        ) as T2
        ON ST_Within(T2.geom, T1.geom)
        GROUP BY T1.gid
    )as T4
    ON T3.gid=T4.c_gid;
"""

result = %sql $query

choroplethMap(result, "map10", 6, 1)

 * postgresql://postgres:***@localhost:5432/hw2
483 rows affected.

3.6.14 查询在加州范围内的交通事故，通过heatMap进行可视化，heatMap函数要求查询结果模式至少包含gid，name和geom属性，其中name可为任意值，并对比ChoroplethMap与HeatMap在地理空间数据可视化方面的异同（3分）<br/>
**数据可视化**：利用人眼的感知能力对数据进行交互的可视表达以增强认知的技术，是数据分析的有效手段，如[Uber数据可视化](https://zhuanlan.zhihu.com/p/24546251)

In [48]:
query = """
SELECT gid, st_case as name, geom from usaccidents WHERE ST_Within(geom, (SELECT geom FROM cal))
"""

result = %sql $query

heatMap(result, "map11", 4, 1)

 * postgresql://postgres:***@localhost:5432/hw2
2897 rows affected.

ChoroplethMap与HeatMap在地理空间数据可视化方面的异同
ChoropletMap需要先将地图栅格化之后，统计每一单元格中发生的交通事故数量；而HeatMAp通过输入地区内的所有交通事故数据，统计出相对热点。

### 3.7 酒驾交通事故分析

美国交通局：We' re directly soliciting your help to better understand what these data are telling us. Whether you' re a non-profit, a tech company, or just a curious citizen wanting to contribute to the conversation in your local community, we want you to jump in and help us understand what the data are telling us. Some key questions worth exploring:
* How might improving economic conditions around the country change how Americans are getting around? What models can we develop to identify communities that might be at a higher risk for fatal crashes?
* How might climate change increase the risk of fatal crashes in a community? 
* How might we use studies of attitudes toward speeding, distracted driving, and seat belt use to better target marketing and behavioral change campaigns?
* How might we monitor public health indicators and behavior risk indicators to target communities that might have a high prevalence of behaviors linked with fatal crashes (drinking, drug use/addiction, etc.)? What countermeasures should we create to address these issues?

<img src="drunk.jpg">

美国交通局在2018年开展了Visualize Transportation Safety可视化挑战赛。

3.7.1 酒驾是否在周末更容易发生？构造SQL语句查询工作日平均每日酒驾事件数与周末平均每日酒驾事件数(avg_weekday_count, avg_weekend_count)，保留到小数点后4位，分析查询结果给出结论，注意中美文化差异中星期起始日的差别（3分）<br/>

In [34]:
%%sql WITH accidents_day AS (
    SELECT gid, (month-1)*50 + day as day_id, day_week FROM usaccidents
    WHERE day_week IN (2, 3, 4, 5, 6) AND drunk_dr > 0
    AND longitud<200 AND latitude<200 
),
accidents_end AS(
    SELECT gid, (month-1)*50 + day as day_id, day_week FROM usaccidents
    WHERE day_week IN (1, 7) AND drunk_dr > 0
    AND longitud<200 AND latitude<200 
)

    SELECT * FROM (
        SELECT CAST(CAST(count(gid) as double precision) / (
            select count(count) from(
                SELECT count(gid) FROM accidents_day group by day_id
            )as T3
        ) AS decimal(16, 4)) as avg_weekday_count FROM accidents_day
    ) as T1 CROSS JOIN (
        SELECT CAST(CAST(count(gid) as double precision) / (
            select count(count) from(
                SELECT count(gid) FROM accidents_end group by day_id
            )as T4
        ) AS decimal(16, 4)) as avg_weekend_count FROM accidents_end
    ) as T2;

 * postgresql://postgres:***@localhost:5432/hw2
1 rows affected.

[(Decimal('17.7395'), Decimal('40.1827'))]

结论：周末酒驾的并发生交通事故的平均值远高于工作日

3.7.2 (练习题) 酒驾交通事故在工作日和休息日在哪个时间段发生较多？构造SQL语句查询(hour, avg_weekday_count, avg_weekend_count)，保留到小数点后4位，分析查询结果给出结论
<img src="3.7.2.png" width = 300>

In [35]:
%%sql WITH accidents_day AS(
    SELECT gid, hour, (month-1)*50+day as day_id FROM usaccidents
    WHERE day_week IN(2, 3, 4, 5, 6) AND drunk_dr > 0 AND hour < 24
    AND longitud<200 AND latitude<200
),
accidents_end AS(
    SELECT gid, hour, (month-1)*50+day as day_id FROM usaccidents
    WHERE day_week IN(1, 7) AND drunk_dr > 0 AND hour < 24
    AND longitud<200 AND latitude<200
),
avg_weekday AS(
	SELECT T1.hour, CAST(CAST(total as double precision)/CAST(count as double precision) as numeric(8,4)) FROM (
		SELECT count(gid) as total, hour FROM accidents_day GROUP BY hour
	) as T1 JOIN (
		SELECT count(count), hour FROM(
			SELECT count(gid), day_id, hour FROM accidents_day GROUP BY day_id, hour
		) as T2 GROUP BY hour
	) as T3 ON T1.hour=T3.hour
),
avg_weekend AS(
	SELECT T1.hour, CAST(CAST(total as double precision)/CAST(count as double precision) as numeric(8,4)) FROM (
		SELECT count(gid) as total, hour FROM accidents_end GROUP BY hour
	) as T1 JOIN (
		SELECT count(count), hour FROM(
			SELECT count(gid), day_id, hour FROM accidents_end GROUP BY day_id, hour
		) as T2 GROUP BY hour
	) as T3 ON T1.hour=T3.hour
)
SELECT avg_weekday.hour as hour, avg_weekday.numeric as avg_weekday_count, avg_weekend.numeric as avg_weekend_count
FROM avg_weekday JOIN avg_weekend
ON avg_weekday.hour=avg_weekend.hour
ORDER BY hour ASC;

 * postgresql://postgres:***@localhost:5432/hw2
24 rows affected.

[(0.0, Decimal('1.7204'), Decimal('3.2653')),
 (1.0, Decimal('1.7861'), Decimal('3.7549')),
 (2.0, Decimal('1.6686'), Decimal('4.3204')),
 (3.0, Decimal('1.5447'), Decimal('3.3200')),
 (4.0, Decimal('1.2921'), Decimal('2.3125')),
 (5.0, Decimal('1.2169'), Decimal('1.8611')),
 (6.0, Decimal('1.1507'), Decimal('1.6029')),
 (7.0, Decimal('1.1944'), Decimal('1.4118')),
 (8.0, Decimal('1.0000'), Decimal('1.2414')),
 (9.0, Decimal('1.1220'), Decimal('1.0606')),
 (10.0, Decimal('1.1000'), Decimal('1.2000')),
 (11.0, Decimal('1.1111'), Decimal('1.2895')),
 (12.0, Decimal('1.0822'), Decimal('1.2941')),
 (13.0, Decimal('1.2469'), Decimal('1.3208')),
 (14.0, Decimal('1.2386'), Decimal('1.4643')),
 (15.0, Decimal('1.3727'), Decimal('1.6462')),
 (16.0, Decimal('1.3704'), Decimal('1.6316')),
 (17.0, Decimal('1.5033'), Decimal('2.2022')),
 (18.0, Decimal('1.7353'), Decimal('2.4096')),
 (19.0, Decimal('1.7330'), Decimal('2.4607')),
 (20.0, Decimal('1.8122'), Decimal('2.4900')),
 (21.0, Decimal('1.9588'), Decimal('2.4592')),
 (22.0, Decimal('2.0160'), Decimal('2.2526')),
 (23.0, Decimal('1.9396'), Decimal('2.6222'))]

结论：酒驾事故不论在工作日还是在周末，在17:00至次日5:00的事故发生率都高于其他时间

3.7.3 (练习题) 酒驾交通事故次数在每个小时上是否与总的交通事故次数成正比？在一天的哪些小时上，酒驾是交通事故的主要原因？构造SQL语句分析是否成正比
<img src="3.7.3.png" width = 256>

In [37]:
%%sql WITH accidents_total AS(
	SELECT hour, count(gid) as total FROM usaccidents
	WHERE hour<24 AND longitud<200 AND latitude<200
    GROUP BY hour
), accidents_drunk AS(
	SELECT hour, count(gid) as drunk FROM usaccidents
	WHERE hour<24 AND drunk_dr>0 AND longitud<200 AND latitude<200
    GROUP BY hour
)
SELECT  accidents_total.hour, total, drunk,
	CAST(CAST(drunk as double precision)/CAST(total as double precision) as numeric(8,4)) as ratio
FROM accidents_total JOIN accidents_drunk
ON accidents_total.hour=accidents_drunk.hour
ORDER BY hour ASC;

 * postgresql://postgres:***@localhost:5432/hw2
24 rows affected.

[(0.0, 1249, 640, Decimal('0.5124')),
 (1.0, 1192, 692, Decimal('0.5805')),
 (2.0, 1184, 727, Decimal('0.6140')),
 (3.0, 929, 522, Decimal('0.5619')),
 (4.0, 738, 300, Decimal('0.4065')),
 (5.0, 986, 235, Decimal('0.2383')),
 (6.0, 1180, 193, Decimal('0.1636')),
 (7.0, 1122, 158, Decimal('0.1408')),
 (8.0, 901, 76, Decimal('0.0844')),
 (9.0, 944, 81, Decimal('0.0858')),
 (10.0, 1013, 86, Decimal('0.0849')),
 (11.0, 1111, 119, Decimal('0.1071')),
 (12.0, 1200, 123, Decimal('0.1025')),
 (13.0, 1367, 171, Decimal('0.1251')),
 (14.0, 1480, 191, Decimal('0.1291')),
 (15.0, 1656, 258, Decimal('0.1558')),
 (16.0, 1615, 309, Decimal('0.1913')),
 (17.0, 1813, 423, Decimal('0.2333')),
 (18.0, 1868, 495, Decimal('0.2650')),
 (19.0, 1747, 524, Decimal('0.2999')),
 (20.0, 1827, 577, Decimal('0.3158')),
 (21.0, 1782, 621, Decimal('0.3485')),
 (22.0, 1526, 591, Decimal('0.3873')),
 (23.0, 1296, 589, Decimal('0.4545'))]

结论：在23:00至次日4:00之间，酒驾是造成交通事故的主要原因，此时酒驾占全部交通事故的比例达到了40%以上

3.7.4 (练习题) 分析工作日与周末在每个小时上发生的酒驾交通事故占该时段总事故数的平均比例，定义酒驾占比超过50%的时段为酒驾易发时段，构造SQL语句分析周末与非周末酒驾易发时段的差异及其主要原因
<img src="3.7.4.png" width = 300>

In [38]:
%%sql WITH accidents_total_day AS(
	SELECT hour, count(gid) as total FROM usaccidents
	WHERE hour<24 AND longitud<200 AND latitude<200 AND day_week IN(2, 3, 4, 5, 6)
	GROUP BY hour
),
accidents_drunk_day AS(
	SELECT hour, count(gid) as drunk FROM usaccidents
	WHERE hour<24 AND drunk_dr>0 AND longitud<200 AND latitude<200 AND day_week IN(2, 3, 4, 5, 6)
	GROUP BY hour
), accidents_total_end AS(
	SELECT hour, count(gid) as total FROM usaccidents
	WHERE hour<24 AND longitud<200 AND latitude<200 AND day_week IN(1, 7)
	GROUP BY hour
),
accidents_drunk_end AS(
	SELECT hour, count(gid) as drunk FROM usaccidents
	WHERE hour<24 AND drunk_dr>0 AND longitud<200 AND latitude<200 AND day_week IN(1, 7)
	GROUP BY hour
),
ratio_day AS(
	SELECT accidents_total_day.hour as hour, CAST(CAST(drunk as double precision)/total as numeric(8,4)) as avg_weekday_ratio
	FROM accidents_total_day JOIN accidents_drunk_day
	ON accidents_total_day.hour=accidents_drunk_day.hour
),
ratio_end AS(
	SELECT accidents_total_end.hour as hour, CAST(CAST(drunk as double precision)/total as numeric(8,4)) as avg_weekend_ratio
	FROM accidents_total_end JOIN accidents_drunk_end
	ON accidents_total_end.hour=accidents_drunk_end.hour
)
SELECT ratio_day.hour, avg_weekday_ratio, avg_weekend_ratio
FROM ratio_day JOIN ratio_end ON ratio_day.hour=ratio_end.hour
ORDER BY hour ASC;

 * postgresql://postgres:***@localhost:5432/hw2
24 rows affected.

[(0.0, Decimal('0.4931'), Decimal('0.5333')),
 (1.0, Decimal('0.5176'), Decimal('0.6437')),
 (2.0, Decimal('0.5476'), Decimal('0.6652')),
 (3.0, Decimal('0.4612'), Decimal('0.6422')),
 (4.0, Decimal('0.2826'), Decimal('0.5589')),
 (5.0, Decimal('0.1501'), Decimal('0.4281')),
 (6.0, Decimal('0.0948'), Decimal('0.3707')),
 (7.0, Decimal('0.0973'), Decimal('0.3025')),
 (8.0, Decimal('0.0580'), Decimal('0.1706')),
 (9.0, Decimal('0.0666'), Decimal('0.1383')),
 (10.0, Decimal('0.0617'), Decimal('0.1400')),
 (11.0, Decimal('0.0910'), Decimal('0.1433')),
 (12.0, Decimal('0.0931'), Decimal('0.1254')),
 (13.0, Decimal('0.1003'), Decimal('0.1944')),
 (14.0, Decimal('0.1043'), Decimal('0.1885')),
 (15.0, Decimal('0.1276'), Decimal('0.2262')),
 (16.0, Decimal('0.1626'), Decimal('0.2600')),
 (17.0, Decimal('0.1786'), Decimal('0.3616')),
 (18.0, Decimal('0.2282'), Decimal('0.3478')),
 (19.0, Decimal('0.2602'), Decimal('0.3809')),
 (20.0, Decimal('0.2796'), Decimal('0.3807')),
 (21.0, Decimal('0.3218'), Decimal('0.4010')),
 (22.0, Decimal('0.3714'), Decimal('0.4188')),
 (23.0, Decimal('0.4253'), Decimal('0.5064'))]

结论：周末酒驾造成交通事故的比例较工作日的同一时段更高，且周末酒驾造成交通事故的比例下降时间段也较晚。原因可能是：
1. 周末人们聚会喝酒的概率增加，导致酒驾率提升。
2. 周末人们返程时间推迟，导致后半夜的酒驾比例仍然很高。

3.7.5 分析周末与非周末哪些高速公路上发生酒驾次数有较大差异，距离某高速公路小于500米，认为该交通事故发生在这条高速公路上，通过choroplethMap进行可视化，choroplethMap函数要求查询结果模式至少包含gid，name，geom和value属性，其中value为其内的交通事故数目（3分）

In [61]:
# 查询非周末每条高速公路上的酒驾次数
query1 = """
SELECT h_gid as gid, name, geom, count(a_gid) as value FROM(
    SELECT T1.gid as h_gid, T1.full_name as name, T2.gid as a_gid, T1.geom
    FROM ushighways as T1 JOIN (
        SELECT gid, geom FROM usaccidents
        WHERE day_week IN (2, 3, 4, 5, 6) AND drunk_dr>0
    ) as T2
    ON ST_DWithin(T1.geom::geography, T2.geom::geography, 500)
) as T
GROUP BY h_gid, name, geom
"""

result1 = %sql $query1

# 查询周末每条高速公路上的酒驾次数
query2 = """ 
SELECT h_gid as gid, name, geom, count(a_gid) as value FROM(
    SELECT T1.gid as h_gid, T1.full_name as name, T2.gid as a_gid, T1.geom
    FROM ushighways as T1 JOIN (
        SELECT gid, geom FROM usaccidents
        WHERE day_week IN (1, 7) AND drunk_dr>0
    ) as T2
    ON ST_DWithin(T1.geom::geography, T2.geom::geography, 500)
) as T
GROUP BY h_gid, name, geom
"""

result2 = %sql $query2

choroplethMap(result1, "map12", 4, 1)
choroplethMap(result2, "map13", 4, 1)

 * postgresql://postgres:***@localhost:5432/hw2
116 rows affected.
 * postgresql://postgres:***@localhost:5432/hw2
124 rows affected.

结论：周末时间段，东海岸线的高速公路酒驾事故有明显的提升。

### 3.8 (附加题) 交通事故数据分析

基于交通事故数据及其他的相关数据，自行构思问题，通过SQL查询、Python编程、统计分析或可视化等，挖掘交通事故数据中隐含的模式和知识，提供安全驾驶建议。根据问题意义和分析质量，最高奖励5分

问题：探究一天中的不同时段中，城市内(距uscities坐标点20km)酒驾造成事故的比例与总体酒驾造成事故比例的差距。

In [67]:
%%sql WITH count_total_in AS (
	SELECT hour, count(gid) as total FROM (
		SELECT usaccidents.gid, hour, usaccidents.geom, name FROM usaccidents JOIN uscities
		ON ST_DWithin(usaccidents.geom::geography, uscities.geom::geography, 20000)
	) as T WHERE hour < 24 GROUP BY hour
),
count_drunk_in AS (
	SELECT hour, count(gid) as drunk FROM (
		SELECT usaccidents.gid, hour, usaccidents.geom, name FROM usaccidents JOIN uscities
		ON ST_DWithin(usaccidents.geom::geography, uscities.geom::geography, 20000)
		WHERE drunk_dr > 0
	) as T WHERE hour < 24 GROUP BY hour
),
ratio_in AS (
	SELECT count_total_in.hour as hour, drunk as drunk_in, CAST(CAST(drunk as double precision)/total as numeric(8,4)) as ratio_in
	FROM count_total_in JOIN count_drunk_in
	ON count_total_in.hour = count_drunk_in.hour
)
SELECT ratio_in.hour, ratio_in, drunk_in FROM ratio_in;

 * postgresql://postgres:***@localhost:5432/hw2
24 rows affected.

[(0.0, Decimal('0.4693'), 367),
 (1.0, Decimal('0.5492'), 424),
 (2.0, Decimal('0.6026'), 502),
 (3.0, Decimal('0.5468'), 321),
 (4.0, Decimal('0.3816'), 174),
 (5.0, Decimal('0.2200'), 121),
 (6.0, Decimal('0.1632'), 103),
 (7.0, Decimal('0.1527'), 82),
 (8.0, Decimal('0.0966'), 40),
 (9.0, Decimal('0.0877'), 40),
 (10.0, Decimal('0.0673'), 30),
 (11.0, Decimal('0.0838'), 42),
 (12.0, Decimal('0.0799'), 44),
 (13.0, Decimal('0.1357'), 87),
 (14.0, Decimal('0.1211'), 81),
 (15.0, Decimal('0.1194'), 91),
 (16.0, Decimal('0.1669'), 122),
 (17.0, Decimal('0.1989'), 174),
 (18.0, Decimal('0.2321'), 247),
 (19.0, Decimal('0.2461'), 235),
 (20.0, Decimal('0.2493'), 265),
 (21.0, Decimal('0.2924'), 319),
 (22.0, Decimal('0.3268'), 318),
 (23.0, Decimal('0.4049'), 317)]

结论：城市内的酒驾比例随时间变化的趋势相同，而在晚间至凌晨的时间段中，酒驾的比例相比于总体比例而言较低。

### 作业感想

收获:-)，疑惑:-|，吐槽:-(，...，你的反馈很重要

这次homework主要学习了如何利用postgis在PostgreSQL中进行空间数据的存储，postgis作为PostgreSQL的扩展，包含了丰富的类型以及方法，方便了我的查询。收获最大的是认识到了完成相同的查询，使用不同的函数可能会节省/浪费大量的时间。